In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import chardet

In [2]:
with open("2018-QS-World-University-Rankings.csv", 'rb') as f:
    res = chardet.detect(f.read(100000))
res

{'encoding': None, 'confidence': 0.0, 'language': None}

In [3]:
df_2018 = pd.read_csv("2018-QS-World-University-Rankings.csv", encoding = 'unicode_escape', header = [0,1])
df_2019 = pd.read_csv("2019-QS-World-University-Rankings.csv", encoding = 'unicode_escape', header = [0,1])
df_2020 = pd.read_csv("2020-QS-World-University-Rankings.csv", encoding = 'unicode_escape', header = [0,1])

In [4]:
df_2018.head()

,2018,2017,Institution Name,Country,Classification,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0,Academic Reputation,...,Unnamed: 12_level_0,Faculty Student,Unnamed: 14_level_0,Citations per Faculty,Unnamed: 16_level_0,International Faculty,Unnamed: 18_level_0,International Students,Unnamed: 20_level_0,Overall Score
,Unnamed: 0_level_1,Unnamed: 1_level_1,Unnamed: 2_level_1,Unnamed: 3_level_1,SIZE,FOCUS,RESEARCH INTENSITY,AGE,STATUS,SCORE,...,RANK,SCORE,RANK,SCORE,RANK,SCORE,RANK,SCORE,RANK,Unnamed: 21_level_1
0,1,1,MASSACHUSETTS INSTITUTE OF TECHNOLOGY (MIT),United States,M,CO,VH,5.0,B,100,...,4,100,14,99.9,8,100,36,96.1,70,100
1,2,2,STANFORD UNIVERSITY,United States,L,FC,VH,5.0,B,100,...,5,100,12,99.4,12,99.6,54,72.7,177,98.7
2,3,3,HARVARD UNIVERSITY,United States,L,FC,VH,5.0,B,100,...,3,98.3,38,99.9,9,96.5,103,75.2,165,98.4
3,4,5,CALIFORNIA INSTITUTE OF TECHNOLOGY (CALTECH),United States,S,CO,VH,5.0,B,99.5,...,77,100,3,100,4,93.4,126,89.2,106,97.7
4,5,4,UNIVERSITY OF CAMBRIDGE,United Kingdom,L,FC,VH,5.0,A,100,...,1,100,10,78.3,75,97.4,87,97.7,57,95.6

In [5]:
df_2019.head()

,2019,2018,Institution Name,Country,Classification,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0,Academic Reputation,...,Unnamed: 12_level_0,Faculty Student,Unnamed: 14_level_0,Citations per Faculty,Unnamed: 16_level_0,International Faculty,Unnamed: 18_level_0,International Students,Unnamed: 20_level_0,Overall Score
,Unnamed: 0_level_1,Unnamed: 1_level_1,Unnamed: 2_level_1,Unnamed: 3_level_1,SIZE,FOCUS,RESEARCH INTENSITY,AGE,STATUS,SCORE,...,RANK,SCORE,RANK,SCORE,RANK,SCORE,RANK,SCORE,RANK,Unnamed: 21_level_1
0,1,1,MASSACHUSETTS INSTITUTE OF TECHNOLOGY (MIT),United States,M,CO,VH,5.0,B,100,...,4,100,17,99.8,8,100,41,95.5,77,100
1,2,2,STANFORD UNIVERSITY,United States,L,FC,VH,5.0,B,100,...,5,100,16,99,13,99.8,56,70.5,190,98.6
2,3,3,HARVARD UNIVERSITY,United States,L,FC,VH,5.0,B,100,...,1,99.3,40,99.8,9,92.1,151,75.7,164,98.5
3,4,4,CALIFORNIA INSTITUTE OF TECHNOLOGY (CALTECH),United States,S,CO,VH,5.0,B,98.7,...,72,100,4,100,5,96.8,115,90.3,103,97.2
4,5,6,UNIVERSITY OF OXFORD,United Kingdom,L,FC,VH,5.0,A,100,...,3,100,7,83,56,99.6,63,98.8,43,96.8

In [7]:
df_2020.head()

,Rank in 2020,Rank in 2019,Institution Name,Country,Classification,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0,Academic Reputation,...,Unnamed: 12_level_0,Faculty Student,Unnamed: 14_level_0,Citations per Faculty,Unnamed: 16_level_0,International Faculty,Unnamed: 18_level_0,International Students,Unnamed: 20_level_0,Overall Score
,Unnamed: 0_level_1,Unnamed: 1_level_1,Unnamed: 2_level_1,Unnamed: 3_level_1,SIZE,FOCUS,RESEARCH INTENSITY,AGE,STATUS,SCORE,...,RANK,SCORE,RANK,SCORE,RANK,SCORE,RANK,SCORE,RANK,Unnamed: 21_level_1
0,1,1,Massachusetts Institute of Technology (MIT),United States,M,CO,VH,5.0,B,100,...,4,100,15,99.8,7,100,43,94.1,87,100
1,2,2,Stanford University,United States,L,FC,VH,5.0,B,100,...,5,100,12,98.6,13,99.8,62,67.7,196,98.4
2,3,3,Harvard University,United States,L,FC,VH,5.0,B,100,...,1,98.7,40,99.6,8,86.3,186,62.2,221,97.4
3,4,5,University of Oxford,United Kingdom,L,FC,VH,5.0,A,100,...,3,100,8,84.7,45,99.7,64,98.5,50,97.2
4,5,4,California Institute of Technology (Caltech),United States,S,CO,VH,5.0,B,97.8,...,74,100,4,100,4,99.4,72,87.3,121,96.9

# Aligning the column

In [8]:
for d in [df_2018, df_2019, df_2020]:
    cols = []
    for column in d:
        if column[0].startswith('Unnamed'):
            cols.append(column[1])
        elif column[1].startswith('Unnamed'):
            cols.append(column[0])
        else:
            cols.append(column[0]+'_'+column[1])
    d.columns = cols

In [10]:
df_2018.head()

,2018,2017,Institution Name,Country,Classification_SIZE,FOCUS,RESEARCH INTENSITY,AGE,STATUS,Academic Reputation_SCORE,...,RANK,Faculty Student_SCORE,RANK,Citations per Faculty_SCORE,RANK,International Faculty_SCORE,RANK,International Students_SCORE,RANK,Overall Score
0,1,1,MASSACHUSETTS INSTITUTE OF TECHNOLOGY (MIT),United States,M,CO,VH,5.0,B,100,...,4,100,14,99.9,8,100,36,96.1,70,100
1,2,2,STANFORD UNIVERSITY,United States,L,FC,VH,5.0,B,100,...,5,100,12,99.4,12,99.6,54,72.7,177,98.7
2,3,3,HARVARD UNIVERSITY,United States,L,FC,VH,5.0,B,100,...,3,98.3,38,99.9,9,96.5,103,75.2,165,98.4
3,4,5,CALIFORNIA INSTITUTE OF TECHNOLOGY (CALTECH),United States,S,CO,VH,5.0,B,99.5,...,77,100,3,100,4,93.4,126,89.2,106,97.7
4,5,4,UNIVERSITY OF CAMBRIDGE,United Kingdom,L,FC,VH,5.0,A,100,...,1,100,10,78.3,75,97.4,87,97.7,57,95.6

In [11]:
df_2019.head()

,2019,2018,Institution Name,Country,Classification_SIZE,FOCUS,RESEARCH INTENSITY,AGE,STATUS,Academic Reputation_SCORE,...,RANK,Faculty Student_SCORE,RANK,Citations per Faculty_SCORE,RANK,International Faculty_SCORE,RANK,International Students_SCORE,RANK,Overall Score
0,1,1,MASSACHUSETTS INSTITUTE OF TECHNOLOGY (MIT),United States,M,CO,VH,5.0,B,100,...,4,100,17,99.8,8,100,41,95.5,77,100
1,2,2,STANFORD UNIVERSITY,United States,L,FC,VH,5.0,B,100,...,5,100,16,99,13,99.8,56,70.5,190,98.6
2,3,3,HARVARD UNIVERSITY,United States,L,FC,VH,5.0,B,100,...,1,99.3,40,99.8,9,92.1,151,75.7,164,98.5
3,4,4,CALIFORNIA INSTITUTE OF TECHNOLOGY (CALTECH),United States,S,CO,VH,5.0,B,98.7,...,72,100,4,100,5,96.8,115,90.3,103,97.2
4,5,6,UNIVERSITY OF OXFORD,United Kingdom,L,FC,VH,5.0,A,100,...,3,100,7,83,56,99.6,63,98.8,43,96.8

In [12]:
df_2020.head()

,Rank in 2020,Rank in 2019,Institution Name,Country,Classification_SIZE,FOCUS,RESEARCH INTENSITY,AGE,STATUS,Academic Reputation_SCORE,...,RANK,Faculty Student_SCORE,RANK,Citations per Faculty_SCORE,RANK,International Faculty_SCORE,RANK,International Students_SCORE,RANK,Overall Score
0,1,1,Massachusetts Institute of Technology (MIT),United States,M,CO,VH,5.0,B,100,...,4,100,15,99.8,7,100,43,94.1,87,100
1,2,2,Stanford University,United States,L,FC,VH,5.0,B,100,...,5,100,12,98.6,13,99.8,62,67.7,196,98.4
2,3,3,Harvard University,United States,L,FC,VH,5.0,B,100,...,1,98.7,40,99.6,8,86.3,186,62.2,221,97.4
3,4,5,University of Oxford,United Kingdom,L,FC,VH,5.0,A,100,...,3,100,8,84.7,45,99.7,64,98.5,50,97.2
4,5,4,California Institute of Technology (Caltech),United States,S,CO,VH,5.0,B,97.8,...,74,100,4,100,4,99.4,72,87.3,121,96.9

In [17]:
df_2020.isna().sum()

Rank in 2020                    22
Rank in 2019                    72
Institution Name                 0
Country                          0
Classification_SIZE              0
FOCUS                           23
RESEARCH INTENSITY              24
AGE                             23
STATUS                          42
Academic Reputation_SCORE        0
RANK                             0
Employer Reputation_SCORE        0
RANK                             0
Faculty Student_SCORE            0
RANK                             0
Citations per Faculty_SCORE      0
RANK                             0
International Faculty_SCORE     46
RANK                             5
International Students_SCORE     6
RANK                             1
Overall Score                    0
dtype: int64

In [59]:
cleaned = df_2020.copy()

In [60]:
cleaned = cleaned[~cleaned['Rank in 2020'].isna()] # remove the institutions without rank in 2020

In [61]:
cleaned = cleaned[~cleaned['Rank in 2019'].isna()] # remove the institutions without rank in 2020

In [62]:
cleaned.isna().sum()

Rank in 2020                     0
Rank in 2019                     0
Institution Name                 0
Country                          0
Classification_SIZE              0
FOCUS                           14
RESEARCH INTENSITY              15
AGE                             18
STATUS                          21
Academic Reputation_SCORE        0
RANK                             0
Employer Reputation_SCORE        0
RANK                             0
Faculty Student_SCORE            0
RANK                             0
Citations per Faculty_SCORE      0
RANK                             0
International Faculty_SCORE     39
RANK                             5
International Students_SCORE     5
RANK                             1
Overall Score                    0
dtype: int64

In [48]:
cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 952 entries, 0 to 1001
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Rank in 2020                  952 non-null    object
 1   Rank in 2019                  952 non-null    object
 2   Institution Name              952 non-null    object
 3   Country                       952 non-null    object
 4   Classification_SIZE           952 non-null    object
 5   FOCUS                         938 non-null    object
 6   RESEARCH INTENSITY            937 non-null    object
 7   AGE                           934 non-null    float64
 8   STATUS                        931 non-null    object
 9   Academic Reputation_SCORE     952 non-null    object
 10  RANK                          952 non-null    object
 11  Employer Reputation_SCORE     952 non-null    object
 12  RANK                          952 non-null    object
 13  Faculty Student_SCORE         952 non-null    object
 14  RANK                          952 non-null    object
 15  Citations per Faculty_SCORE   952 non-null    object
 16  RANK                          952 non-null    object
 17  International Faculty_SCORE   913 non-null    object
 18  RANK                          947 non-null    object
 19  International Students_SCORE  947 non-null    object
 20  RANK                          951 non-null    object
 21  Overall Score                 952 non-null    object
dtypes: float64(1), object(21)
memory usage: 171.1+ KB

In [51]:
for c in cleaned.columns:
    if c != 'AGE':
        print('-------')
        print(f'unique{c}')
        print(np.unique(cleaned[c].astype('str')))
    else:
        continue

-------
uniqueRank in 2020
['  104=' '  108=' '  116=' '  11=' '  120=' '  125=' '  130=' '  132='
 '  140=' '  154=' '  156=' '  160=' '  163=' '  165=' '  167=' '  169='
 '  170=' '  173=' '  177=' '  179=' '  186=' '  189=' '  18=' '  192='
 '  198=' '  200=' '  207=' '  212=' '  215=' '  217=' '  219=' '  227='
 '  22=' '  231=' '  234=' '  239=' '  247=' '  251=' '  253=' '  257='
 '  25=' '  262=' '  266=' '  268=' '  271=' '  274=' '  277=' '  281='
 '  285=' '  287=' '  291=' '  296=' '  298=' '  29=' '  302=' '  305='
 '  312=' '  314=' '  320=' '  322=' '  324=' '  329=' '  331=' '  336='
 '  338=' '  33=' '  340=' '  344=' '  349=' '  351=' '  353=' '  356='
 '  359=' '  35=' '  364=' '  368=' '  371=' '  372=' '  377=' '  379='
 '  383=' '  387=' '  389=' '  392=' '  395=' '  398=' '  400=' '  407='
 '  410=' '  412=' '  419=' '  421=' '  424=' '  427=' '  429=' '  432='
 '  436=' '  439=' '  442=' '  448=' '  451=' '  454=' '  458=' '  462='
 '  468=' '  474=' '  478=' '  480=' '  482=' '  484=' '  489=' '  491='
 '  498=' '  58=' '  60=' '  72=' '  78=' '  801-1000' '  83=' '  93='
 '  98=' '1' '10' '100' '101' '102' '103' '106' '107' '110' '111' '112'
 '113' '114' '115' '118' '119' '123' '124' '125' '126' '127' '128' '129'
 '13' '134' '135' '136' '137' '138' '139' '14' '144' '145' '146' '147'
 '148' '149' '15' '150' '151' '152' '153' '158' '159' '16' '162' '167'
 '17' '172' '176' '181' '182' '183' '184' '185' '188' '191' '194' '195'
 '197' '2' '20' '202' '203' '204' '205' '206' '21' '210' '211' '214' '222'
 '223' '224' '225' '226' '230' '233' '237' '238' '24' '242' '243' '244'
 '245' '246' '250' '256' '259' '260' '261' '265' '27' '270' '276' '279'
 '28' '280' '284' '3' '300' '301' '307' '308' '309' '31' '310' '311' '319'
 '32' '326' '327' '328' '334' '346' '347' '348' '358' '366' '367' '37'
 '370' '371' '374' '375' '376' '38' '39' '4' '40' '406' '41' '416' '417'
 '418' '42' '43' '435' '438' '44' '45' '46' '460' '461' '47' '477' '48'
 '49' '5' '50' '501-510' '51' '511-520' '52' '521-530' '53' '531-540' '54'
 '541-550' '55' '551-560' '56' '561-570' '57' '571-580' '581-590'
 '591-600' '6' '601-650' '62' '63' '64' '65' '651-700' '66' '67' '68' '69'
 '7' '70' '701-750' '71' '74' '75' '751-800' '76' '77' '8' '80' '81' '82'
 '83' '84' '85' '86' '87' '89' '9' '90' '91' '92' '95' '96' '97']
-------
uniqueRank in 2019
['  100=' '  104=' '  122=' '  126=' '  128=' '  132=' '  141=' '  149='
 '  151=' '  154=' '  156=' '  160=' '  163=' '  164=' '  172=' '  175='
 '  180=' '  184=' '  186=' '  193=' '  195=' '  200=' '  204=' '  208='
 '  212=' '  214=' '  218=' '  221=' '  223=' '  231=' '  237=' '  239='
 '  242=' '  244=' '  250=' '  253=' '  257=' '  260=' '  264=' '  269='
 '  272=' '  275=' '  277=' '  279=' '  283=' '  285=' '  289=' '  292='
 '  295=' '  299=' '  302=' '  306=' '  310=' '  313=' '  315=' '  317='
 '  319=' '  321=' '  323=' '  326=' '  329=' '  332=' '  336=' '  338='
 '  343=' '  345=' '  352=' '  355=' '  359=' '  363=' '  367=' '  369='
 '  373=' '  376=' '  381=' '  384=' '  387=' '  391=' '  394=' '  397='
 '  402=' '  405=' '  407=' '  412=' '  415=' '  417=' '  420=' '  422='
 '  426=' '  429=' '  432=' '  435=' '  439=' '  443=' '  446=' '  448='
 '  450=' '  453=' '  456=' '  461=' '  464=' '  470=' '  472=' '  476='
 '  478=' '  481=' '  489=' '  491=' '  495=' '  498=' '  500=' '  59='
 '  69=' '  75=' '  79=' '  801-1000' '  83=' '  87=' '  93=' '1' '10'
 '106' '107' '108' '109' '11' '110' '111' '112' '113' '114' '115' '116'
 '117' '118' '119' '12' '120' '121' '124' '125' '13' '130' '131' '134'
 '135' '136' '137' '138' '139' '14' '140' '144' '145' '146' '147' '148'
 '15' '153' '158' '159' '16' '162' '165' '166' '167' '168' '169' '17'
 '170' '171' '178' '179' '18' '183' '188' '189' '19' '190' '191' '192'
 '197' '198' '199' '2' '20' '202' '203' '206' '207' '21' '211' '217' '22'
 '220' '226' '227' '228' '229' '23' '230' '234' '235' '236' '24' '246'
 '247' '248' '249' '25' '255' '256' '259' '26' '263' '268' '27' '271'
 '274' '28' '287' '288' '29' '291' '298' '3' '30' '305' '308' '309' '31'
 '312' '32' '325' '328' '33' '34' '348' '349' '35' '350' '351' '354' '36'
 '361' '362' '37' '372' '375' '38' '380' '39' '396' '4' '40' '404' '41'
 '411' '419' '42' '43' '431' '44' '442' '45' '46' '460' '47' '475' '48'
 '480' '487' '488' '49' '494' '5' '50' '501-510' '51' '511-520' '52'
 '521-530' '53' '531-540' '54' '541-550' '55' '551-560' '56' '561-570'
 '57' '571-580' '58' '581-590' '591-600' '6' '601-650' '61' '62' '63' '64'
 '65' '651-700' '66' '67' '68' '7' '701-750' '71' '72' '73' '74' '751-800'
 '77' '78' '8' '81' '82' '85' '86' '89' '9' '90' '91' '92' '95' '96' '97'
 '98' '99']
-------
uniqueInstitution Name
['AGH University of Science and Technology' 'Aalborg University'
 'Aalto University' 'Aarhus University' 'Aberystwyth University'
 'Abo Akademi University' 'Abu Dhabi University'
 'Adam Mickiewicz University' 'Ain Shams University'
 'Airlangga University' 'Ajman University' 'Ajou University'
 'Al-Farabi Kazakh National University' 'Alexandria University'
 'Aligarh Muslim University (AMU), Aligarh' 'American University'
 'American University in Dubai' 'American University of Beirut (AUB)'
 'American University of Sharjah' 'Amirkabir University of Technology'
 'Amrita Vishwa Vidyapeetham' 'Ankara Üniversitesi' 'Anna University'
 'Aristotle University of Thessaloniki' 'Arizona State University'
 'Assiut University' 'Aston University' 'Ateneo de Manila University'
 'Athens University of Economics and Business' 'Auburn University'
 'Auckland University of Technology' 'Australian Catholic University'
 'Australian National University (ANU)' 'Babes-Bolyai University'
 'Baku State University' 'Banaras Hindu University'
 'Bandung Institute of Technology (ITB)'
 'Bangladesh University of Engineering and Technology' 'Bangor University'
 'Bar-Ilan University' 'Bauman Moscow State Technical University'
 'Baylor University' 'Beihang University'
 'Beijing Foreign Studies University' 'Beijing Institute of Technology'
 'Beijing Jiaotong University' 'Beijing Normal University'
 'Beijing University of Technology' 'Belarus State University'
 'Belarusian National Technical University'
 'Ben Gurion University of The Negev' 'Bilkent University'
 'Binghamton University SUNY' 'Birkbeck College, University of London'
 'Birla Institute of Technology and Science' 'Bogaziçi Üniversitesi'
 'Bogor Agricultural University' 'Bond University' 'Boston College'
 'Boston University' 'Bournemouth University' 'Brandeis University'
 'Brigham Young University' 'Brno University of Technology'
 'Brown University' 'Brunel University'
 'Budapest University of Technology and Economics'
 'COMSATS Institute of Information Technology' 'Cairo University'
 'California Institute of Technology (Caltech)' 'Cardiff University'
 'Carleton University' 'Carnegie Mellon University'
 'Case Western Reserve University' 'Central Queensland University'
 'Central South University' 'CentraleSupélec'
 'Chalmers University of Technology' 'Chang Gung University'
 'Charles Darwin University' 'Charles University' 'Chiang Mai University'
 'Chiba University' 'China Agricultural University'
 'Chonbuk National University' 'Chongqing University'
 'Chonnam National University' 'Christian-Albrechts-Universität zu Kiel'
 'Chulalongkorn University' 'Chung-Ang University'
 'Chungnam National University' 'City University of Hong Kong'
 'City University of New York' 'City, University of London'
 'Clark University' 'Clarkson University' 'Clemson University'
 'College of William & Mary' 'Colorado State University'
 'Columbia University' 'Comenius University in Bratislava'
 'Concordia University' 'Cornell University'
 'Corvinus University of Budapest' 'Coventry University'
 'Cracow University of Technology' 'Curtin University'
 'Czech Technical University In Prague' 'Dalhousie University'
 'Dalian University of Technology' 'Dankook University'
 'Dartmouth College' 'De La Salle University' 'Deakin University'
 'Delft University of Technology' 'Diponegoro University'
 'Dongguk University' 'Drexel University' 'Dublin City University (DCU)'
 'Dublin Institute of Technology (DIT)' 'Duke University'
 'Durham University' 'E.A.Buketov Karaganda State University'
 'ENS Paris-Saclay' 'ETH Zurich (Swiss Federal Institute of Technology)'
 'East China Normal University'
 'East China University of Science and Technology'
 'Eberhard Karls Universität Tübingen' 'Ecole Normale Supérieure de Lyon'
 'Ecole Polytechnique' 'Ecole Polytechnique Fédérale de Lausanne (EPFL)'
 'Ecole des Ponts ParisTech' 'Edinburgh Napier University'
 'Edith Cowan University (ECU)' 'Eindhoven University of Technology'
 'Emory University' 'Eotvos Lorand University'
 'Erasmus University Rotterdam'
 'Escuela Superior Politécnica del Litoral - ESPOL'
 'Ewha Womans University' 'Far Eastern Federal University'
 'Flinders University' 'Florida International University'
 'Florida State University' 'Fordham University'
 'Freie Universität Berlin' 'Fudan University'
 'Georg-August-Universität Göttingen' 'George Mason University'
 'George Washington University' 'Georgetown University'
 'Georgia Institute of Technology (Georgia Tech)'
 'Georgia State University' 'German Jordanian University'
 'Gifu University' 'Goldsmiths, University of London'
 'Griffith University' 'Gunma University'
 'Gwangju Institute of Science and Technology (GIST)'
 'HUFS \x96 Hankuk (Korea) University of Foreign Studies'
 'Hacettepe University' 'Hallym University' 'Hanyang University'
 'Harbin Institute of Technology' 'Harvard University'
 'Hebrew University of Jerusalem' 'Heriot-Watt University'
 'Hiroshima University' 'Hitotsubashi University' 'Hokkaido University'
 'Holy Spirit University of Kaslik' 'Hong Kong Baptist University (HKBU)'
 'Howard University' 'Huazhong University of Science and Technology'
 'Humboldt-Universität zu Berlin' 'Hunan University' 'ITMO University'
 'Illinois Institute of Technology'
 'Imam Abdulrahman Bin Faisal University (IAU) (formerly University of Dammam)'
 'Imperial College London' 'Indian Institute of Science (IISc) Bangalore'
 'Indian Institute of Technology Bombay (IITB)'
 'Indian Institute of Technology Delhi (IITD)'
 'Indian Institute of Technology Guwahati (IITG)'
 'Indian Institute of Technology Kanpur (IITK)'
 'Indian Institute of Technology Kharagpur (IITKGP)'
 'Indian Institute of Technology Madras (IITM)'
 'Indian Institute of Technology Roorkee (IITR)'
 'Indiana University Bloomington'
 'Indiana University-Purdue University Indianapolis' 'Inha University'
 'Institut National des Sciences Appliquées de Lyon (INSA)'
 'Instituto Politécnico Nacional (IPN)'
 'Instituto Tecnológico Autonomo de México (ITAM)'
 'Instituto Tecnológico de Buenos Aires (ITBA)'
 'International Islamic University Malaysia (IIUM)'
 'Iowa State University' 'Iran University of Science and Technology'
 'Istanbul Technical University' 'Istanbul University'
 'Jadavpur University' 'Jagiellonian University'
 'James Cook University (JCU)' 'Jamia Millia Islamia, New Delhi'
 'Jilin University' 'Johannes Gutenberg Universität Mainz'
 'Johannes Kepler Universität Linz (JKU)' 'Johns Hopkins University'
 'Jordan University of Science and Technology'
 'Julius-Maximilians-Universität Würzburg'
 'Justus-Liebig-Universität Gießen'
 'KAIST - Korea Advanced Institute of Science and Technology'
 'KIT, Karlsruher Institut für Technologie'
 'KTH, Royal Institute of Technology' 'Kagoshima University'
 'Kanazawa University' 'Kansas State University'
 'Karaganda State Technical University' 'Karl-Franzens-Universität Graz'
 'Kasetsart University' 'Katholieke Universiteit Leuven'
 'Kaunas University of Technology'
 'Kazakh Ablai khan University of International Relations and World Languages'
 'Kazakh National Agrarian University'
 'Kazakh National Pedagogical University Abai'
 'Kazakh National Technical University after K.I.Satpayev'
 'Kazakh-British Technical University' 'Kazan Federal University'
 'Keele University' 'Keio University' 'Kent State University'
 'Khalifa University' 'Khon Kaen University'
 'King Abdul Aziz University (KAU)'
 'King Fahd University of Petroleum & Minerals (KFUPM)'
 'King Faisal University' 'King Khalid University'
 "King Mongkut's University of Technology Thonburi"
 'King Saud University (KSU)' "King's College London (KCL)"
 'Kingston University, London' 'Kobe University' 'Konkuk University'
 'Korea University' 'Koç University' 'Kumamoto University'
 'Kuwait University' 'Kyoto Institute of Technology' 'Kyoto University'
 'Kyung Hee University' 'Kyungpook National University'
 'Kyushu Institute of Technology' 'Kyushu University'
 'L.N. Gumilyov Eurasian National University' 'La Trobe University'
 'Lahore University of Management Sciences (LUMS)' 'Lancaster University'
 'Lanzhou University' 'Lappeenranta University of Technology'
 'Laval University' 'Lebanese American University' 'Lehigh University'
 'Leibniz Universität Hannover' 'Leiden University' 'Lincoln University'
 'Lingnan University (Hong Kong)' 'Linköping University'
 'Lobachevsky State University of Nizhni Novgorod'
 'Lodz University of Technology' 'Lomonosov Moscow State University'
 'London Metropolitan University'
 'London School of Economics and Political Science (LSE)'
 'London South Bank University' 'Loughborough University'
 'Louisiana State University' 'Loyola University Chicago'
 'Ludwig-Maximilians-Universität München' 'Lund University'
 'M.O.Auezov South Kazakhstan State University' 'Maastricht University'
 'Macquarie University' 'Mahidol University'
 'Manchester Metropolitan University'
 'Manipal Academy of Higher Education' 'Marquette University'
 'Martin-Luther-Universität Halle-Wittenberg' 'Masaryk University'
 'Massachusetts Institute of Technology (MIT)' 'Massey University'
 'Maynooth University' 'McGill University' 'McMaster University'
 'Memorial University of Newfoundland' 'Miami University'
 'Michigan State University' 'Michigan Technological University'
 'Middle East Technical University' 'Middlesex University'
 'Missouri University of Science and Technology' 'Monash University'
 'Moscow Institute of Physics and Technology State University'
 'Moscow State Institute of International Relations \x96 MGIMO University'
 'Multimedia University (MMU)' 'Murdoch University'
 'Mustansiriyah University' 'Nagasaki University'
 'Nagoya Institute of Technology (NIT)' 'Nagoya University'
 'Nanjing University' 'Nankai University'
 'Nanyang Technological University (NTU)' 'National Central University'
 'National Cheng Kung University' 'National Chengchi University'
 'National Chiao Tung University' 'National Chung Cheng University'
 'National Chung Hsing University'
 'National Research Nuclear University "MEPhI" (Moscow Engineering Physics Institute)'
 'National Research Saratov State University'
 'National Research University - Higher School of Economics (HSE)'
 'National Sun Yat-sen University'
 'National Taipei University of Technology'
 'National Taiwan Normal University' 'National Taiwan University (NTU)'
 'National Taiwan University of Science and Technology'
 'National Technical University "Kharkiv Polytechnic Institute"'
 'National Technical University of Athens'
 'National Technical University of Ukraine "Kyiv Polytechnic Institute"'
 'National Tsing Hua University' 'National University Lviv Polytechnic'
 'National University of Ireland, Galway (NUIG)'
 'National University of Science and Technology "MISIS"'
 'National University of Sciences and Technology (NUST) Islamabad'
 'National University of Singapore (NUS)' 'National Yang Ming University'
 'National and Kapodistrian University of Athens'
 'New Jersey Institute of Technology (NJIT)' 'New School University'
 'New York University (NYU)' 'Newcastle University'
 'Nicolaus Copernicus University' 'Niigata University'
 'North Carolina State University' 'Northeastern University'
 'Northumbria University at Newcastle' 'Northwestern University'
 'Norwegian University of Science and Technology'
 'Nottingham Trent University' 'Novosibirsk State Technical University'
 'Novosibirsk State University' 'Ohio State University' 'Ohio University'
 'Okayama University' 'Oklahoma State University'
 'Oregon State University' 'Osaka City University'
 'Osaka Prefecture University' 'Osaka University'
 'Oxford Brookes University' 'Padjadjaran University'
 'Pakistan Institute of Engineering and Applied Sciences (PIEAS)'
 'Palacký University in Olomouc' 'Paris Lodron Universität Salzburg'
 'Peking University' 'Pennsylvania State University'
 'Peter the Great St.Petersburg Polytechnic University'
 'Philipps-Universität Marburg'
 'Plekhanov Russian University of Economics'
 'Pohang University of Science and Technology (POSTECH)'
 'Politecnico di Milano' 'Politecnico di Torino'
 'Pontificia Universidad Catolica del Ecuador'
 'Pontificia Universidad Católica Argentina Santa María de los Buenos Aires (UCA)'
 'Pontificia Universidad Católica de Chile'
 'Pontificia Universidad Católica de Valparaíso'
 'Pontificia Universidad Católica del Perú'
 'Pontificia Universidad Javeriana'
 'Pontificia Universidade Católica de São Paulo (PUC-SP)'
 'Pontificia Universidade Católica do Rio Grande do Sul'
 'Pontificia Universidade Católica do Rio de Janeiro - PUC - Rio'
 'Poznan University of Technology' 'Prince of Songkla University'
 'Princeton University' 'Purdue University' 'Pusan National University'
 'Qatar University' 'Quaid-i-azam University'
 'Queen Mary University of London (QMUL)' "Queen's University"
 "Queen's University of Belfast"
 'Queensland University of Technology (QUT)' 'RMIT University'
 'RUDN University' 'Radboud University Nijmegen'
 'Renmin (People\x92s) University of China'
 'Rensselaer Polytechnic Institute'
 'Rheinisch-Westfälische Technische Hochschule Aachen'
 'Rheinische Friedrich-Wilhelms-Universität Bonn' 'Rhodes University'
 'Rice University' 'Riga Stradins University' 'Riga Technical University'
 'Ritsumeikan University' 'Royal Holloway University of London'
 'Ruhr-Universität Bochum' 'Ruprecht-Karls-Universität Heidelberg'
 'Rutgers - The State University of New Jersey, New Brunswick'
 'Rutgers - The State University of New Jersey, Newark'
 'Ryerson University'
 'SOAS - School of Oriental and African Studies, University of London'
 'Sabanci University' 'Saint-Petersburg State University'
 'Saitama University'
 'Samara National Research University (Samara University)'
 'San Diego State University' 'Sapienza - Università di Roma'
 'Savitribai Phule Pune University' 'Sciences Po Paris'
 'Scuola Normale Superiore di Pisa' "Scuola Superiore Sant'Anna Pisa"
 'Sejong University' 'Seoul National University (SNU)'
 'Seoul National University of Science and Technology'
 'Sepuluh Nopember Institute of Technology'
 'Shahid Beheshti University Tehran' 'Shandong University'
 'Shanghai International Studies University'
 'Shanghai Jiao Tong University' 'Shanghai University'
 'Sharif University of Technology' 'Shinshu University'
 'Shiraz University' 'Sichuan University' 'Simon Fraser University'
 'Singapore Management University'
 'Slovak University of Technology in Bratislava' 'Smith College'
 'Sofia University "St. Kliment Ohridski"' 'Sogang University'
 'Sophia University' 'Sorbonne University'
 'South China University of Technology' 'South Ural State University'
 'Southeast University' 'Southern Cross University'
 'Southern Federal University' 'Southern Methodist University'
 'Stanford University' 'Stellenbosch University'
 'Stevens Institute of Technology' 'Stockholm University'
 'Stony Brook University' 'Sultan Qaboos University'
 'Sumy State University' 'Sun Yat-sen University'
 'Sungkyunkwan University' 'Swansea University'
 'Swinburne University of Technology' 'Syracuse University'
 'Taipei Medical University' 'Tallinn University'
 'Tallinn University of Technology'
 'Taras Shevchenko National University of Kyiv' "Taylor's University"
 'Technical University of Denmark' 'Technical University of Kosice'

['-' '1.9' '10' '10.1' '10.2' '10.4' '10.5' '10.6' '10.7' '100' '11'
 '11.1' '11.2' '11.4' '11.7' '11.8' '12.2' '12.3' '12.4' '12.5' '12.6'
 '12.9' '13' '13.1' '13.7' '14.6' '14.7' '14.8' '15' '15.2' '15.3' '15.4'
 '15.5' '15.6' '16.2' '16.5' '16.6' '16.7' '16.8' '16.9' '17.1' '17.2'
 '17.3' '17.7' '17.8' '17.9' '18' '18.2' '18.4' '18.5' '18.6' '18.7'
 '18.8' '19' '19.1' '19.2' '19.3' '19.4' '19.5' '19.6' '19.7' '19.8'
 '19.9' '2.4' '2.8' '20' '20.1' '20.2' '20.5' '20.6' '20.7' '20.8' '20.9'
 '21' '21.1' '21.2' '21.3' '21.6' '21.8' '21.9' '22' '22.1' '22.3' '22.4'
 '22.7' '22.9' '23' '23.2' '23.3' '23.4' '23.5' '23.7' '23.8' '24' '24.1'
 '24.2' '24.4' '24.5' '24.7' '24.9' '25' '25.4' '25.5' '25.7' '25.8'
 '25.9' '26' '26.1' '26.2' '26.3' '26.4' '26.6' '26.7' '26.8' '26.9' '27'
 '27.1' '27.2' '27.3' '27.4' '27.7' '27.8' '28.1' '28.3' '28.4' '28.8'
 '28.9' '29' '29.1' '29.3' '29.5' '29.8' '29.9' '3.3' '3.5' '3.7' '3.8'
 '3.9' '30' '30.3' '30.5' '30.6' '30.7' '30.9' '31' '31.2' '31.3' '31.4'
 '31.5' '31.7' '31.9' '32' '32.3' '32.4' '32.5' '32.6' '32.9' '33' '33.1'
 '33.2' '33.3' '33.4' '33.7' '33.9' '34' '34.1' '34.2' '34.3' '34.5'
 '34.7' '34.8' '34.9' '35.1' '35.2' '35.6' '36' '36.2' '36.3' '36.7'
 '36.8' '36.9' '37.2' '37.4' '37.5' '38' '38.2' '38.3' '38.4' '38.5'
 '38.6' '38.7' '39' '39.4' '39.5' '39.7' '39.8' '4' '4.5' '4.6' '4.7'
 '4.9' '40.5' '40.8' '41' '41.1' '41.3' '41.4' '41.9' '42' '42.5' '42.6'
 '42.7' '42.8' '42.9' '43.3' '43.4' '43.7' '43.8' '43.9' '44.2' '44.3'
 '44.4' '44.7' '45' '45.2' '45.5' '45.7' '45.9' '46' '46.3' '46.5' '46.6'
 '46.8' '46.9' '47.1' '47.3' '47.4' '47.5' '47.6' '48.2' '48.3' '48.7'
 '49' '49.2' '49.3' '49.7' '5' '5.1' '5.3' '5.4' '5.7' '5.8' '5.9' '50.6'
 '51.2' '51.3' '51.4' '51.5' '51.6' '51.8' '52.1' '52.2' '52.5' '52.6'
 '52.7' '52.9' '53.3' '53.4' '53.5' '53.9' '54' '54.3' '54.8' '55' '55.5'
 '56' '56.3' '56.5' '56.6' '57.2' '57.5' '57.7' '57.8' '58.1' '58.2'
 '58.6' '58.7' '58.9' '59.1' '59.6' '59.7' '59.8' '6' '6.1' '6.2' '6.4'
 '6.7' '60' '60.2' '60.7' '61.2' '61.4' '61.5' '62.8' '63' '63.1' '63.3'
 '63.6' '64' '64.3' '64.5' '65.7' '65.8' '65.9' '66.4' '66.8' '67.3'
 '67.5' '68.4' '68.9' '69.7' '69.9' '7' '7.3' '7.4' '7.8' '7.9' '70.6'
 '71.1' '71.2' '71.3' '71.6' '72' '73.2' '73.3' '73.7' '74.5' '74.6'
 '75.1' '76.5' '77.2' '77.5' '77.6' '77.7' '78.3' '78.8' '8' '8.1' '8.4'
 '8.5' '8.6' '8.7' '8.8' '80.2' '80.4' '80.6' '81.2' '81.3' '81.7' '82.2'
 '82.4' '82.6' '82.7' '83.2' '83.3' '84.2' '84.3' '84.9' '85' '86.5'
 '86.9' '87.9' '88.2' '88.9' '89' '89.7' '9' '9.2' '9.3' '9.6' '9.7' '9.8'
 '9.9' '90.4' '90.8' '91' '91.1' '91.2' '91.3' '91.9' '92.5' '93.6' '93.7'
 '93.8' '94.1' '94.4' '95.5' '95.6' '95.7' '96.3' '96.4' '96.7' '97.2'
 '97.6' '97.7' '98.1' '98.6' '98.7' '99' '99.1' '99.2' '99.3' '99.6'
 '99.7' '99.9']
-------
uniqueRANK
['-' '1' '10' '100' '101' '102' '103' '104' '105' '106' '107' '108' '109'
 '11' '110' '111' '112' '113' '114' '115' '116' '117' '118' '119' '12'
 '120' '121' '122' '123' '124' '125' '126' '127' '128' '129' '13' '130'
 '131' '132' '133' '134' '135' '136' '137' '138' '139' '14' '140' '141'
 '142' '143' '144' '145' '146' '147' '148' '149' '15' '150' '151' '152'
 '153' '154' '155' '156' '157' '158' '159' '16' '160' '161' '162' '163'
 '164' '165' '166' '167' '168' '169' '17' '170' '171' '172' '173' '174'
 '175' '176' '177' '178' '179' '18' '180' '181' '182' '183' '184' '185'
 '186' '187' '188' '189' '19' '190' '191' '192' '193' '194' '195' '196'
 '197' '198' '199' '2' '20' '200' '201' '202' '203' '204' '205' '206'
 '207' '208' '209' '21' '210' '211' '212' '213' '214' '215' '216' '217'
 '218' '219' '22' '220' '221' '222' '223' '224' '225' '226' '227' '228'
 '229' '23' '230' '231' '232' '233' '234' '235' '236' '237' '238' '239'
 '24' '240' '241' '242' '243' '244' '245' '246' '247' '248' '249' '25'
 '250' '251' '252' '253' '254' '255' '256' '257' '258' '259' '26' '260'
 '261' '262' '263' '264' '265' '266' '267' '268' '269' '27' '270' '271'
 '272' '273' '274' '275' '276' '277' '278' '279' '28' '280' '281' '282'
 '283' '284' '285' '286' '287' '288' '289' '29' '290' '291' '292' '293'
 '294' '295' '296' '297' '298' '299' '3' '30' '300' '301' '302' '303'
 '304' '305' '306' '307' '308' '309' '31' '310' '311' '312' '313' '314'
 '315' '316' '317' '318' '319' '32' '320' '321' '322' '323' '324' '325'
 '326' '327' '328' '329' '33' '330' '331' '332' '333' '334' '335' '336'
 '337' '338' '339' '34' '340' '341' '342' '343' '344' '345' '346' '347'
 '348' '349' '35' '350' '351' '352' '353' '354' '355' '356' '357' '358'
 '359' '36' '360' '361' '362' '363' '364' '365' '366' '367' '368' '369'
 '37' '370' '371' '372' '373' '374' '375' '376' '377' '378' '379' '38'
 '380' '381' '382' '383' '384' '385' '386' '387' '388' '389' '39' '390'
 '391' '392' '393' '394' '395' '396' '397' '398' '399' '4' '40' '400'
 '401' '402' '403' '404' '405' '406' '407' '408' '409' '41' '410' '411'
 '412' '413' '414' '415' '416' '417' '418' '419' '42' '420' '421' '422'
 '423' '424' '425' '426' '427' '428' '429' '43' '430' '431' '432' '433'
 '434' '435' '436' '437' '438' '439' '44' '440' '441' '442' '443' '444'
 '445' '446' '447' '448' '449' '45' '450' '451' '452' '453' '454' '455'
 '456' '457' '458' '459' '46' '460' '461' '462' '463' '464' '465' '466'
 '467' '468' '469' '47' '470' '471' '472' '473' '474' '475' '476' '477'
 '478' '479' '48' '480' '481' '482' '483' '484' '485' '486' '487' '488'
 '489' '49' '490' '491' '492' '493' '494' '495' '496' '497' '498' '499'
 '5' '50' '500' '501' '501+' '502' '503' '504' '505' '506' '507' '508'
 '509' '51' '510' '511' '512' '513' '514' '515' '516' '517' '518' '519'
 '52' '520' '521' '522' '523' '524' '525' '526' '527' '528' '529' '53'
 '530' '531' '532' '533' '534' '535' '536' '537' '538' '539' '54' '540'
 '541' '542' '543' '544' '545' '546' '547' '548' '549' '55' '550' '551'
 '552' '553' '554' '555' '556' '557' '558' '559' '56' '560' '561' '562'
 '563' '564' '565' '566' '567' '568' '569' '57' '570' '571' '572' '573'
 '574' '575' '576' '577' '578' '579' '58' '580' '581' '582' '583' '584'
 '585' '586' '587' '588' '589' '59' '590' '591' '592' '593' '594' '595'
 '596' '597' '598' '599' '6' '60' '600' '601+' '61' '62' '63' '64' '65'
 '66' '67' '68' '69' '7' '70' '71' '72' '73' '74' '75' '76' '77' '78' '79'
 '8' '80' '81' '82' '83' '84' '85' '86' '87' '88' '89' '9' '90' '91' '92'
 '93' '94' '95' '96' '97' '98' '99' 'nan']
-------
uniqueFaculty Student_SCORE
['-' '10' '10.1' '10.4' '10.6' '10.7' '100' '11' '11.1' '11.2' '11.4'
 '11.6' '11.7' '11.8' '11.9' '12' '12.1' '12.2' '12.3' '12.4' '12.6' '13'
 '13.1' '13.2' '13.3' '13.4' '13.5' '14.1' '14.2' '14.7' '14.8' '14.9'
 '15' '15.1' '15.4' '15.5' '15.6' '15.7' '16.1' '16.2' '16.3' '16.6'
 '16.9' '17' '17.1' '17.3' '17.4' '18.1' '18.2' '18.5' '18.6' '18.7' '19'
 '19.2' '19.3' '19.5' '19.6' '19.8' '2.5' '20.3' '20.6' '20.8' '21.1'
 '21.2' '21.3' '21.5' '21.6' '21.7' '22.6' '22.8' '23.3' '23.4' '23.6'
 '23.7' '23.8' '23.9' '24' '24.1' '24.3' '24.6' '24.8' '24.9' '25' '25.2'
 '25.3' '25.4' '25.6' '25.9' '26' '26.1' '26.2' '26.3' '26.4' '26.5'
 '26.6' '26.7' '26.8' '26.9' '27' '27.1' '27.3' '27.5' '27.6' '27.7' '28'
 '28.2' '28.3' '28.4' '28.5' '28.6' '28.7' '28.9' '29.3' '29.5' '29.6'
 '29.7' '29.9' '3.2' '3.4' '30.1' '30.2' '30.3' '30.4' '30.5' '30.6'
 '30.7' '30.8' '30.9' '31' '31.2' '31.3' '31.4' '31.6' '31.8' '31.9' '32'
 '32.1' '32.2' '32.3' '32.4' '32.5' '32.7' '32.8' '32.9' '33.3' '33.7'
 '33.8' '33.9' '34.4' '34.7' '34.8' '34.9' '35' '35.1' '35.2' '35.3'
 '35.5' '35.8' '35.9' '36' '36.1' '36.3' '36.5' '36.6' '36.8' '36.9'
 '37.2' '37.3' '37.4' '37.5' '37.6' '37.7' '37.8' '38' '38.1' '38.3'
 '38.6' '38.7' '38.9' '39.1' '39.2' '39.3' '39.4' '39.5' '39.6' '39.7'
 '39.8' '39.9' '4.5' '40' '40.3' '40.4' '40.5' '40.6' '40.7' '40.9' '41'
 '41.2' '41.3' '41.5' '41.6' '41.7' '41.9' '42.2' '42.3' '42.5' '42.6'
 '43' '43.1' '43.2' '43.4' '43.5' '43.6' '43.7' '43.8' '44' '44.1' '44.5'
 '44.6' '44.7' '44.8' '44.9' '45' '45.2' '45.5' '45.8' '46' '46.2' '46.4'
 '46.6' '46.7' '46.9' '47.3' '47.5' '47.6' '47.7' '48.2' '49.1' '49.3'
 '49.7' '49.8' '5.2' '5.4' '5.5' '5.7' '5.9' '50.1' '50.3' '50.4' '50.5'
 '50.9' '51.3' '51.6' '51.9' '52' '52.1' '52.4' '52.5' '52.6' '52.8'
 '53.1' '53.2' '53.3' '53.7' '53.8' '53.9' '54.7' '54.8' '54.9' '55.1'
 '55.3' '55.4' '55.6' '55.8' '56.1' '56.6' '56.8' '57' '57.1' '57.5'
 '57.6' '57.9' '58' '58.1' '58.3' '58.6' '58.7' '59' '59.1' '59.3' '59.4'
 '59.5' '59.7' '6' '6.3' '6.4' '6.5' '6.7' '60' '60.3' '60.7' '61' '61.4'
 '61.9' '62' '62.2' '62.5' '62.7' '63' '63.1' '63.3' '63.7' '64.1' '64.2'
 '64.3' '64.9' '65' '65.3' '65.4' '65.7' '66.1' '66.2' '66.3' '66.4'
 '66.7' '66.8' '67.2' '67.3' '67.6' '67.7' '67.8' '67.9' '68.2' '68.4'
 '68.9' '69' '69.3' '69.4' '69.5' '69.6' '7.4' '7.6' '7.8' '70.3' '70.7'
 '70.8' '71.3' '71.5' '71.9' '72' '72.2' '72.3' '72.5' '72.6' '72.8'
 '73.2' '73.3' '73.7' '73.9' '74' '74.1' '74.4' '74.5' '74.8' '74.9'
 '76.6' '76.8' '77.2' '77.3' '77.4' '77.7' '77.9' '78.3' '78.4' '78.6'
 '78.9' '79.1' '79.5' '79.8' '79.9' '8.1' '8.2' '8.4' '8.6' '8.7' '80.3'
 '80.4' '80.8' '81.1' '81.3' '81.4' '81.8' '82' '82.3' '82.5' '82.7'
 '82.9' '83.1' '83.3' '83.5' '84' '84.1' '84.2' '84.3' '84.4' '84.6' '85'
 '85.2' '85.3' '85.5' '85.6' '85.7' '86' '86.2' '86.5' '87' '87.2' '87.8'
 '87.9' '88' '88.3' '88.4' '88.7' '89.1' '89.2' '89.4' '89.5' '89.7' '9'
 '9.1' '9.6' '90' '90.6' '90.7' '90.8' '91' '91.4' '92' '92.1' '92.4' '93'
 '93.3' '93.8' '93.9' '94' '94.1' '94.2' '94.8' '94.9' '95.3' '95.6'
 '96.2' '96.3' '96.4' '96.5' '96.6' '96.7' '97' '97.6' '97.9' '98' '98.1'
 '98.2' '98.6' '98.7' '99.3' '99.4' '99.6' '99.7' '99.8' '99.9']
-------
uniqueRANK
['-' '1' '10' '100' '101' '102' '103' '104' '105' '106' '107' '108' '109'
 '11' '110' '111' '112' '113' '114' '115' '116' '117' '118' '119' '12'
 '120' '121' '122' '123' '124' '125' '126' '127' '128' '129' '13' '130'
 '131' '132' '133' '134' '135' '136' '137' '138' '139' '14' '140' '141'
 '142' '143' '144' '145' '146' '147' '148' '149' '15' '150' '151' '152'
 '153' '154' '155' '156' '157' '158' '159' '16' '160' '161' '162' '163'
 '164' '165' '166' '167' '168' '169' '17' '170' '171' '172' '173' '174'
 '175' '176' '177' '178' '179' '18' '180' '181' '182' '183' '184' '185'
 '186' '187' '188' '189' '19' '190' '191' '192' '193' '194' '195' '196'
 '197' '198' '199' '2' '20' '200' '201' '202' '203' '204' '205' '206'
 '207' '208' '209' '21' '210' '211' '212' '213' '214' '215' '216' '217'
 '218' '219' '22' '220' '221' '222' '223' '224' '225' '226' '227' '228'
 '229' '23' '230' '231' '232' '233' '234' '235' '236' '237' '238' '239'
 '24' '240' '241' '242' '243' '244' '245' '246' '247' '248' '249' '25'
 '250' '251' '252' '253' '254' '255' '256' '257' '258' '259' '26' '260'
 '261' '262' '263' '264' '265' '266' '267' '268' '269' '27' '270' '271'
 '272' '273' '274' '275' '276' '277' '278' '279' '28' '280' '281' '282'
 '283' '284' '285' '286' '287' '288' '289' '29' '290' '291' '292' '293'
 '294' '295' '296' '297' '298' '299' '3' '30' '300' '301' '302' '303'
 '304' '305' '306' '307' '308' '309' '31' '310' '311' '312' '313' '314'
 '315' '316' '317' '318' '319' '32' '320' '321' '322' '323' '324' '325'
 '326' '327' '328' '329' '33' '330' '331' '332' '333' '334' '335' '336'
 '337' '338' '339' '34' '340' '341' '342' '343' '344' '345' '346' '347'
 '348' '349' '35' '350' '351' '352' '353' '354' '355' '356' '357' '358'
 '359' '36' '360' '361' '362' '363' '364' '365' '366' '367' '368' '369'
 '37' '370' '371' '372' '373' '374' '375' '376' '377' '378' '379' '38'
 '380' '381' '382' '383' '384' '385' '386' '387' '388' '389' '39' '390'
 '391' '392' '393' '394' '395' '396' '397' '398' '399' '4' '40' '400'
 '401' '402' '403' '404' '405' '406' '407' '408' '409' '41' '410' '411'
 '412' '413' '414' '415' '416' '417' '418' '419' '42' '420' '421' '422'
 '423' '424' '425' '426' '427' '428' '429' '43' '430' '431' '432' '433'
 '434' '435' '436' '437' '438' '439' '44' '440' '441' '442' '443' '444'
 '445' '446' '447' '448' '449' '45' '450' '451' '452' '453' '454' '455'
 '456' '457' '458' '459' '46' '460' '461' '462' '463' '464' '465' '466'
 '467' '468' '469' '47' '470' '471' '472' '473' '474' '475' '476' '477'
 '478' '479' '48' '480' '481' '482' '483' '484' '485' '486' '487' '488'
 '489' '49' '490' '491' '492' '493' '494' '495' '496' '497' '498' '499'
 '5' '50' '500' '501' '501+' '502' '503' '504' '505' '506' '507' '508'
 '509' '51' '510' '511' '512' '513' '514' '515' '516' '517' '518' '519'
 '52' '520' '521' '522' '523' '524' '525' '526' '527' '528' '529' '53'
 '530' '531' '532' '533' '534' '535' '536' '537' '538' '539' '54' '540'
 '541' '542' '543' '544' '545' '546' '547' '548' '549' '55' '550' '551'
 '552' '553' '554' '555' '556' '557' '558' '559' '56' '560' '561' '562'
 '563' '564' '565' '566' '567' '568' '569' '57' '570' '571' '572' '573'
 '574' '575' '576' '577' '578' '579' '58' '580' '581' '582' '583' '584'
 '585' '586' '587' '588' '589' '59' '590' '591' '592' '593' '594' '595'
 '596' '597' '598' '599' '6' '60' '600' '601+' '61' '62' '63' '64' '65'
 '66' '67' '68' '69' '7' '70' '71' '72' '73' '74' '75' '76' '77' '78' '79'
 '8' '80' '81' '82' '83' '84' '85' '86' '87' '88' '89' '9' '90' '91' '92'
 '93' '94' '95' '96' '97' '98' '99' 'nan']
-------
uniqueCitations per Faculty_SCORE
['-' '1' '1.1' '1.2' '1.3' '1.4' '1.5' '1.6' '1.7' '1.8' '1.9' '10' '10.6'
 '100' '11' '11.2' '11.4' '11.5' '11.7' '11.8' '12' '12.1' '12.7' '12.8'
 '13' '13.1' '13.3' '13.4' '13.6' '13.9' '14' '14.3' '14.5' '14.7' '15.2'
 '15.4' '15.6' '15.9' '16' '16.1' '16.2' '16.4' '17.1' '17.2' '17.4'
 '17.5' '17.6' '17.7' '17.8' '17.9' '18.2' '18.3' '18.4' '18.5' '18.6'
 '18.7' '18.9' '19' '19.1' '19.2' '19.3' '19.6' '19.7' '19.8' '19.9' '2.1'
 '2.2' '2.4' '2.5' '20' '20.1' '20.2' '20.3' '20.4' '20.5' '20.6' '20.7'
 '20.9' '21.1' '21.2' '21.3' '21.6' '21.7' '21.8' '21.9' '22.1' '22.3'
 '22.4' '22.5' '22.6' '22.7' '22.8' '23' '23.1' '23.2' '23.3' '23.4'
 '23.5' '23.6' '24' '24.1' '24.2' '24.3' '24.6' '24.8' '25' '25.2' '25.4'
 '25.5' '25.7' '25.8' '25.9' '26.2' '26.3' '26.4' '26.5' '26.6' '26.7'
 '26.8' '26.9' '27.1' '27.3' '27.5' '27.7' '28' '28.2' '28.3' '29' '29.2'
 '29.3' '29.4' '29.6' '29.7' '29.8' '3.3' '3.5' '3.6' '3.7' '3.8' '30.2'
 '30.5' '30.6' '30.8' '30.9' '31' '31.6' '31.8' '31.9' '32' '32.2' '32.4'
 '32.5' '32.6' '32.7' '32.9' '33.1' '33.2' '33.5' '33.8' '33.9' '34'
 '34.2' '34.3' '34.4' '34.6' '34.7' '34.8' '35.2' '35.4' '35.6' '35.7'
 '36' '36.2' '36.3' '36.4' '36.6' '36.7' '36.9' '37.1' '37.2' '37.3'
 '37.4' '37.6' '37.8' '37.9' '38' '38.2' '38.3' '38.4' '38.6' '38.7'
 '38.8' '39' '39.2' '39.3' '39.7' '4.3' '4.5' '4.6' '4.7' '4.8' '40.1'
 '40.2' '40.4' '40.5' '40.7' '40.8' '41.3' '41.5' '41.6' '41.8' '41.9'
 '42' '42.1' '42.2' '42.4' '42.5' '42.8' '42.9' '43' '43.1' '43.2' '43.3'
 '43.4' '43.5' '43.6' '43.8' '43.9' '44.1' '44.3' '44.4' '44.5' '44.7'
 '44.8' '45' '45.1' '45.3' '45.4' '45.5' '45.7' '45.9' '46' '46.1' '46.2'
 '46.3' '46.5' '46.8' '46.9' '47.4' '47.6' '47.7' '47.8' '47.9' '48.2'
 '48.5' '48.6' '48.8' '48.9' '49' '49.2' '49.3' '49.7' '49.8' '5.1' '5.2'
 '5.3' '5.5' '5.7' '50' '50.2' '50.3' '50.4' '50.6' '51' '51.2' '51.3'
 '51.4' '51.5' '51.7' '51.8' '51.9' '52' '52.2' '52.7' '52.8' '53' '53.2'
 '53.3' '53.4' '53.5' '53.7' '54' '54.2' '54.4' '54.6' '54.7' '55' '55.5'
 '55.6' '55.7' '55.8' '56' '56.1' '56.2' '56.3' '56.4' '56.6' '56.8'
 '56.9' '57.3' '57.4' '57.7' '57.8' '58.2' '58.4' '58.6' '58.8' '59'
 '59.1' '59.2' '59.4' '59.6' '59.7' '6' '6.2' '6.3' '6.5' '6.7' '6.8' '60'
 '60.7' '60.8' '61.3' '61.4' '61.6' '61.8' '61.9' '62' '62.1' '62.3'
 '62.5' '62.6' '62.7' '62.8' '63.2' '63.6' '63.9' '64.1' '64.2' '64.4'
 '64.5' '64.9' '65.1' '65.5' '65.6' '65.8' '65.9' '66' '66.1' '66.3'
 '66.9' '67.1' '67.4' '67.6' '67.8' '67.9' '68.1' '68.2' '68.4' '68.5'
 '69.5' '69.8' '69.9' '7.2' '7.3' '7.9' '70' '70.4' '70.6' '70.9' '71.2'
 '71.3' '71.5' '71.6' '72.1' '72.2' '72.6' '72.8' '72.9' '73' '73.1'
 '73.5' '73.6' '73.7' '74.2' '75' '75.3' '75.7' '75.9' '76.2' '76.7'
 '77.1' '77.4' '77.6' '77.9' '78.4' '78.5' '78.7' '79.2' '79.3' '8.1'
 '8.5' '80.2' '80.3' '80.4' '80.6' '81.2' '81.8' '82.3' '83.7' '84.2'
 '84.5' '84.7' '85.3' '86.2' '86.3' '86.6' '87.4' '88.3' '88.8' '89.4'
 '89.5' '9.1' '9.2' '9.4' '9.7' '90' '90.6' '91.1' '91.3' '93.4' '93.6'
 '93.8' '94.3' '94.9' '95.1' '95.3' '95.4' '97.1' '97.7' '98.1' '98.4'
 '98.5' '98.6' '98.9' '99.2' '99.3' '99.6' '99.8']
-------
uniqueRANK
['-' '1' '10' '100' '101' '102' '103' '104' '105' '106' '107' '108' '109'
 '11' '110' '111' '112' '113' '114' '115' '116' '117' '118' '119' '12'
 '120' '121' '122' '123' '124' '125' '126' '127' '128' '129' '13' '130'
 '131' '132' '133' '134' '135' '136' '137' '138' '139' '14' '140' '141'
 '142' '143' '144' '145' '146' '147' '148' '149' '15' '150' '151' '152'
 '153' '154' '155' '156' '157' '158' '159' '16' '160' '161' '162' '163'
 '164' '165' '166' '167' '168' '169' '17' '170' '171' '172' '173' '174'
 '175' '176' '177' '178' '179' '18' '180' '181' '182' '183' '184' '185'
 '186' '187' '188' '189' '19' '190' '191' '192' '193' '194' '195' '196'
 '197' '198' '199' '2' '20' '200' '201' '202' '203' '204' '205' '206'
 '207' '208' '209' '21' '210' '211' '212' '213' '214' '215' '216' '217'
 '218' '219' '22' '220' '221' '222' '223' '224' '225' '226' '227' '228'
 '229' '23' '230' '231' '232' '233' '234' '235' '236' '237' '238' '239'
 '24' '240' '241' '242' '243' '244' '245' '246' '247' '248' '249' '25'
 '250' '251' '252' '253' '254' '255' '256' '257' '258' '259' '26' '260'
 '261' '262' '263' '264' '265' '266' '267' '268' '269' '27' '270' '271'
 '272' '273' '274' '275' '276' '277' '278' '279' '28' '280' '281' '282'
 '283' '284' '285' '286' '287' '288' '289' '29' '290' '291' '292' '293'
 '294' '295' '296' '297' '298' '299' '3' '30' '300' '301' '302' '303'
 '304' '305' '306' '307' '308' '309' '31' '310' '311' '312' '313' '314'
 '315' '316' '317' '318' '319' '32' '320' '321' '322' '323' '324' '325'
 '326' '327' '328' '329' '33' '330' '331' '332' '333' '334' '335' '336'
 '337' '338' '339' '34' '340' '341' '342' '343' '344' '345' '346' '347'
 '348' '349' '35' '350' '351' '352' '353' '354' '355' '356' '357' '358'
 '359' '36' '360' '361' '362' '363' '364' '365' '366' '367' '368' '369'
 '37' '370' '371' '372' '373' '374' '375' '376' '377' '378' '379' '38'
 '380' '381' '382' '383' '384' '385' '386' '387' '388' '389' '39' '390'
 '391' '392' '393' '394' '395' '396' '397' '398' '399' '4' '40' '400'
 '401' '402' '403' '404' '405' '406' '407' '408' '409' '41' '410' '411'
 '412' '413' '414' '415' '416' '417' '418' '419' '42' '420' '421' '422'
 '423' '424' '425' '426' '427' '428' '429' '43' '430' '431' '432' '433'
 '434' '435' '436' '437' '438' '439' '44' '440' '441' '442' '443' '444'
 '445' '446' '447' '448' '449' '45' '450' '451' '452' '453' '454' '455'
 '456' '457' '458' '459' '46' '460' '461' '462' '463' '464' '465' '466'
 '467' '468' '469' '47' '470' '471' '472' '473' '474' '475' '476' '477'
 '478' '479' '48' '480' '481' '482' '483' '484' '485' '486' '487' '488'
 '489' '49' '490' '491' '492' '493' '494' '495' '496' '497' '498' '499'
 '5' '50' '500' '501' '501+' '502' '503' '504' '505' '506' '507' '508'
 '509' '51' '510' '511' '512' '513' '514' '515' '516' '517' '518' '519'
 '52' '520' '521' '522' '523' '524' '525' '526' '527' '528' '529' '53'
 '530' '531' '532' '533' '534' '535' '536' '537' '538' '539' '54' '540'
 '541' '542' '543' '544' '545' '546' '547' '548' '549' '55' '550' '551'
 '552' '553' '554' '555' '556' '557' '558' '559' '56' '560' '561' '562'
 '563' '564' '565' '566' '567' '568' '569' '57' '570' '571' '572' '573'
 '574' '575' '576' '577' '578' '579' '58' '580' '581' '582' '583' '584'
 '585' '586' '587' '588' '589' '59' '590' '591' '592' '593' '594' '595'
 '596' '597' '598' '599' '6' '60' '600' '601+' '61' '62' '63' '64' '65'
 '66' '67' '68' '69' '7' '70' '71' '72' '73' '74' '75' '76' '77' '78' '79'
 '8' '80' '81' '82' '83' '84' '85' '86' '87' '88' '89' '9' '90' '91' '92'
 '93' '94' '95' '96' '97' '98' '99' 'nan']
-------

In [80]:
cleaned_na = cleaned.dropna()

In [81]:
cleaned_na.replace('-', np.nan).isna().sum()

Rank in 2020                      0
Rank in 2019                      0
Institution Name                  0
Country                           0
Classification_SIZE               0
FOCUS                             0
RESEARCH INTENSITY                0
AGE                               0
STATUS                            0
Academic Reputation_SCORE       326
RANK                            326
Employer Reputation_SCORE       300
RANK                            300
Faculty Student_SCORE           233
RANK                            233
Citations per Faculty_SCORE     256
RANK                            256
International Faculty_SCORE     250
RANK                            250
International Students_SCORE    251
RANK                            251
Overall Score                     0
dtype: int64

In [82]:
cleaned_na = cleaned_na.replace('-', np.nan).dropna() # some values represented null value with -

In [68]:
cleaned_na.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 485 entries, 0 to 499
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Rank in 2020                  485 non-null    object
 1   Rank in 2019                  485 non-null    object
 2   Institution Name              485 non-null    object
 3   Country                       485 non-null    object
 4   Classification_SIZE           485 non-null    object
 5   FOCUS                         485 non-null    object
 6   RESEARCH INTENSITY            485 non-null    object
 7   AGE                           485 non-null    float64
 8   STATUS                        485 non-null    object
 9   Academic Reputation_SCORE     485 non-null    object
 10  RANK                          485 non-null    object
 11  Employer Reputation_SCORE     485 non-null    object
 12  RANK                          485 non-null    object
 13  Faculty Student_SCORE         485 non-null    object
 14  RANK                          485 non-null    object
 15  Citations per Faculty_SCORE   485 non-null    object
 16  RANK                          485 non-null    object
 17  International Faculty_SCORE   485 non-null    object
 18  RANK                          485 non-null    object
 19  International Students_SCORE  485 non-null    object
 20  RANK                          485 non-null    object
 21  Overall Score                 485 non-null    object
dtypes: float64(1), object(21)
memory usage: 87.1+ KB

In [71]:
for c in cleaned.columns:
    if c != 'AGE':
        print('-------')
        print(f'unique{c}')
        print(np.unique(cleaned_na[c].astype('str')))
    else:
        continue

-------
uniqueRank in 2020
['  104=' '  108=' '  116=' '  11=' '  120=' '  125=' '  130=' '  132='
 '  140=' '  154=' '  156=' '  160=' '  163=' '  165=' '  167=' '  169='
 '  170=' '  173=' '  177=' '  179=' '  186=' '  189=' '  18=' '  192='
 '  198=' '  200=' '  207=' '  212=' '  215=' '  217=' '  219=' '  227='
 '  22=' '  231=' '  234=' '  239=' '  247=' '  251=' '  253=' '  257='
 '  25=' '  262=' '  266=' '  268=' '  271=' '  274=' '  277=' '  281='
 '  285=' '  287=' '  291=' '  296=' '  298=' '  29=' '  302=' '  305='
 '  312=' '  314=' '  320=' '  322=' '  324=' '  329=' '  331=' '  336='
 '  338=' '  33=' '  340=' '  344=' '  349=' '  351=' '  353=' '  356='
 '  359=' '  35=' '  364=' '  368=' '  371=' '  372=' '  377=' '  379='
 '  383=' '  387=' '  389=' '  392=' '  395=' '  398=' '  400=' '  407='
 '  410=' '  412=' '  419=' '  421=' '  424=' '  427=' '  429=' '  432='
 '  436=' '  439=' '  442=' '  448=' '  451=' '  454=' '  458=' '  462='
 '  468=' '  474=' '  478=' '  480=' '  482=' '  484=' '  489=' '  491='
 '  498=' '  58=' '  60=' '  72=' '  78=' '  83=' '  93=' '  98=' '1' '10'
 '100' '101' '102' '103' '106' '107' '110' '111' '112' '113' '114' '115'
 '118' '119' '123' '124' '125' '126' '127' '128' '129' '13' '134' '135'
 '136' '137' '138' '139' '14' '144' '145' '146' '147' '148' '149' '15'
 '150' '151' '152' '153' '158' '159' '16' '162' '167' '17' '172' '176'
 '181' '182' '183' '184' '185' '188' '191' '194' '195' '197' '2' '20'
 '202' '203' '205' '206' '21' '210' '211' '214' '222' '223' '224' '225'
 '226' '230' '233' '237' '238' '24' '242' '243' '244' '245' '246' '250'
 '256' '259' '260' '261' '265' '27' '270' '276' '279' '28' '280' '284' '3'
 '300' '301' '307' '308' '309' '31' '310' '319' '32' '326' '327' '328'
 '334' '346' '347' '348' '358' '366' '367' '37' '370' '371' '374' '376'
 '38' '39' '4' '40' '406' '41' '416' '417' '418' '42' '43' '435' '438'
 '44' '45' '46' '460' '461' '47' '477' '48' '49' '5' '50' '51' '52' '54'
 '55' '56' '57' '6' '62' '63' '64' '65' '66' '67' '68' '69' '7' '70' '71'
 '74' '75' '76' '77' '8' '80' '81' '82' '83' '84' '85' '86' '87' '89' '9'
 '90' '91' '92' '95' '96' '97']
-------
uniqueRank in 2019
['  100=' '  104=' '  122=' '  126=' '  128=' '  132=' '  141=' '  149='
 '  151=' '  154=' '  156=' '  160=' '  163=' '  164=' '  172=' '  175='
 '  180=' '  184=' '  186=' '  193=' '  195=' '  200=' '  204=' '  208='
 '  212=' '  214=' '  218=' '  221=' '  223=' '  231=' '  237=' '  239='
 '  242=' '  244=' '  250=' '  253=' '  257=' '  260=' '  264=' '  269='
 '  272=' '  275=' '  277=' '  279=' '  283=' '  285=' '  289=' '  292='
 '  295=' '  299=' '  302=' '  306=' '  310=' '  313=' '  315=' '  317='
 '  319=' '  321=' '  323=' '  326=' '  329=' '  332=' '  336=' '  338='
 '  343=' '  345=' '  352=' '  355=' '  359=' '  363=' '  367=' '  369='
 '  373=' '  376=' '  381=' '  384=' '  387=' '  391=' '  394=' '  397='
 '  402=' '  405=' '  407=' '  412=' '  415=' '  417=' '  420=' '  422='
 '  426=' '  429=' '  432=' '  435=' '  439=' '  443=' '  446=' '  448='
 '  450=' '  453=' '  456=' '  461=' '  464=' '  470=' '  472=' '  476='
 '  478=' '  481=' '  489=' '  491=' '  498=' '  500=' '  59=' '  69='
 '  75=' '  79=' '  83=' '  87=' '  93=' '1' '10' '106' '107' '108' '109'
 '11' '110' '111' '112' '113' '114' '115' '116' '117' '118' '119' '12'
 '120' '121' '124' '125' '13' '130' '131' '134' '135' '136' '137' '138'
 '139' '14' '140' '144' '145' '146' '147' '148' '15' '153' '158' '159'
 '16' '162' '165' '166' '168' '169' '17' '170' '171' '178' '179' '18'
 '183' '188' '189' '19' '190' '191' '192' '197' '198' '199' '2' '20' '202'
 '203' '206' '207' '21' '211' '217' '22' '220' '226' '227' '228' '229'
 '23' '230' '234' '235' '236' '24' '246' '247' '248' '249' '25' '255'
 '256' '259' '26' '263' '268' '27' '271' '274' '28' '287' '288' '29' '291'
 '298' '3' '30' '305' '308' '309' '31' '312' '32' '325' '328' '33' '34'
 '348' '349' '35' '350' '351' '354' '36' '361' '362' '37' '372' '375' '38'
 '380' '39' '396' '4' '40' '404' '41' '411' '419' '42' '43' '431' '44'
 '442' '45' '46' '460' '47' '475' '48' '480' '487' '488' '49' '5'
 '501-510' '51' '511-520' '52' '521-530' '53' '531-540' '54' '541-550'
 '55' '551-560' '56' '57' '58' '6' '601-650' '61' '62' '63' '64' '65' '66'
 '67' '68' '7' '71' '72' '73' '74' '77' '78' '8' '81' '82' '85' '86' '89'
 '9' '90' '91' '92' '95' '96' '97' '98' '99']
-------
uniqueInstitution Name
['Aalborg University' 'Aalto University' 'Aarhus University'
 'Aberystwyth University' 'Al-Farabi Kazakh National University'
 'American University of Beirut (AUB)' 'American University of Sharjah'
 'Amirkabir University of Technology' 'Arizona State University'
 'Aston University' 'Auckland University of Technology'
 'Australian National University (ANU)'
 'Bandung Institute of Technology (ITB)'
 'Bauman Moscow State Technical University' 'Beihang University'
 'Beijing Institute of Technology' 'Beijing Normal University'
 'Belarus State University' 'Ben Gurion University of The Negev'
 'Birkbeck College, University of London' 'Bond University'
 'Boston College' 'Boston University' 'Brandeis University'
 'Brown University' 'Brunel University'
 'California Institute of Technology (Caltech)' 'Cardiff University'
 'Carnegie Mellon University' 'Case Western Reserve University'
 'CentraleSupélec' 'Chalmers University of Technology'
 'Chang Gung University' 'Charles University' 'Chiba University'
 'Christian-Albrechts-Universität zu Kiel' 'Chulalongkorn University'
 'Chung-Ang University' 'City University of Hong Kong'
 'City, University of London' 'Colorado State University'
 'Columbia University' 'Concordia University' 'Cornell University'
 'Curtin University' 'Czech Technical University In Prague'
 'Dalhousie University' 'Dartmouth College' 'Deakin University'
 'Delft University of Technology' 'Dongguk University'
 'Dublin City University (DCU)' 'Duke University' 'Durham University'
 'ENS Paris-Saclay' 'ETH Zurich (Swiss Federal Institute of Technology)'
 'Eberhard Karls Universität Tübingen' 'Ecole Normale Supérieure de Lyon'
 'Ecole Polytechnique' 'Ecole Polytechnique Fédérale de Lausanne (EPFL)'
 'Ecole des Ponts ParisTech' 'Eindhoven University of Technology'
 'Emory University' 'Erasmus University Rotterdam'
 'Ewha Womans University' 'Flinders University' 'Florida State University'
 'Freie Universität Berlin' 'Fudan University'
 'Georg-August-Universität Göttingen' 'George Washington University'
 'Georgetown University' 'Georgia Institute of Technology (Georgia Tech)'
 'Goldsmiths, University of London' 'Griffith University'
 'Gwangju Institute of Science and Technology (GIST)'
 'HUFS \x96 Hankuk (Korea) University of Foreign Studies'
 'Hanyang University' 'Harbin Institute of Technology'
 'Harvard University' 'Hebrew University of Jerusalem'
 'Heriot-Watt University' 'Hiroshima University' 'Hitotsubashi University'
 'Hokkaido University' 'Hong Kong Baptist University (HKBU)'
 'Huazhong University of Science and Technology'
 'Humboldt-Universität zu Berlin' 'ITMO University'
 'Illinois Institute of Technology' 'Imperial College London'
 'Indian Institute of Science (IISc) Bangalore'
 'Indian Institute of Technology Bombay (IITB)'
 'Indian Institute of Technology Delhi (IITD)'
 'Indian Institute of Technology Kanpur (IITK)'
 'Indian Institute of Technology Kharagpur (IITKGP)'
 'Indian Institute of Technology Madras (IITM)'
 'Indiana University Bloomington' 'Jagiellonian University'
 'James Cook University (JCU)' 'Jilin University'
 'Johannes Gutenberg Universität Mainz'
 'Johannes Kepler Universität Linz (JKU)' 'Johns Hopkins University'
 'Julius-Maximilians-Universität Würzburg'
 'KAIST - Korea Advanced Institute of Science and Technology'
 'KIT, Karlsruher Institut für Technologie'
 'KTH, Royal Institute of Technology' 'Katholieke Universiteit Leuven'
 'Kazan Federal University' 'Keio University' 'Khalifa University'
 'King Abdul Aziz University (KAU)'
 'King Fahd University of Petroleum & Minerals (KFUPM)'
 'King Saud University (KSU)' "King's College London (KCL)"
 'Kobe University' 'Korea University' 'Koç University' 'Kyoto University'
 'Kyung Hee University' 'Kyushu University'
 'L.N. Gumilyov Eurasian National University' 'La Trobe University'
 'Lancaster University' 'Laval University' 'Leiden University'
 'Lincoln University' 'Linköping University'
 'Lomonosov Moscow State University'
 'London School of Economics and Political Science (LSE)'
 'Loughborough University' 'Ludwig-Maximilians-Universität München'
 'Lund University' 'M.O.Auezov South Kazakhstan State University'
 'Maastricht University' 'Macquarie University' 'Mahidol University'
 'Massachusetts Institute of Technology (MIT)' 'Massey University'
 'McGill University' 'McMaster University' 'Michigan State University'
 'Monash University'
 'Moscow Institute of Physics and Technology State University'
 'Moscow State Institute of International Relations \x96 MGIMO University'
 'Nagoya University' 'Nanjing University' 'Nankai University'
 'Nanyang Technological University (NTU)' 'National Central University'
 'National Cheng Kung University' 'National Chiao Tung University'
 'National Research Nuclear University "MEPhI" (Moscow Engineering Physics Institute)'
 'National Research University - Higher School of Economics (HSE)'
 'National Sun Yat-sen University' 'National Taiwan Normal University'
 'National Taiwan University (NTU)'
 'National Taiwan University of Science and Technology'
 'National Technical University of Athens' 'National Tsing Hua University'
 'National University of Ireland, Galway (NUIG)'
 'National University of Science and Technology "MISIS"'
 'National University of Sciences and Technology (NUST) Islamabad'
 'National University of Singapore (NUS)' 'National Yang Ming University'
 'New York University (NYU)' 'Newcastle University'
 'North Carolina State University' 'Northeastern University'
 'Northwestern University'
 'Norwegian University of Science and Technology'
 'Novosibirsk State University' 'Ohio State University'
 'Oregon State University' 'Osaka University' 'Oxford Brookes University'
 'Peking University' 'Pennsylvania State University'
 'Peter the Great St.Petersburg Polytechnic University'
 'Pohang University of Science and Technology (POSTECH)'
 'Politecnico di Milano' 'Politecnico di Torino'
 'Pontificia Universidad Católica Argentina Santa María de los Buenos Aires (UCA)'
 'Pontificia Universidad Católica de Chile'
 'Pontificia Universidad Católica del Perú'
 'Pontificia Universidad Javeriana' 'Princeton University'
 'Purdue University' 'Qatar University'
 'Queen Mary University of London (QMUL)' "Queen's University"
 "Queen's University of Belfast"
 'Queensland University of Technology (QUT)' 'RMIT University'
 'RUDN University' 'Radboud University Nijmegen'
 'Rensselaer Polytechnic Institute'
 'Rheinisch-Westfälische Technische Hochschule Aachen'
 'Rheinische Friedrich-Wilhelms-Universität Bonn' 'Rice University'
 'Royal Holloway University of London' 'Ruhr-Universität Bochum'
 'Ruprecht-Karls-Universität Heidelberg'
 'Rutgers - The State University of New Jersey, New Brunswick'
 'SOAS - School of Oriental and African Studies, University of London'
 'Saint-Petersburg State University' 'Sapienza - Università di Roma'
 'Sciences Po Paris' 'Seoul National University (SNU)'
 'Shandong University' 'Shanghai Jiao Tong University'
 'Shanghai University' 'Sharif University of Technology'
 'Simon Fraser University' 'Singapore Management University'
 'Sogang University' 'Sorbonne University'
 'South China University of Technology' 'Stanford University'
 'Stellenbosch University' 'Stockholm University' 'Stony Brook University'
 'Sultan Qaboos University' 'Sun Yat-sen University'
 'Sungkyunkwan University' 'Swansea University'
 'Swinburne University of Technology' 'Taipei Medical University'
 'Technical University of Denmark'
 'Technion - Israel Institute of Technology'
 'Technische Universität Berlin' 'Technische Universität Darmstadt'
 'Technische Universität Dresden' 'Technische Universität München'
 'Technische Universität Wien' 'Tecnológico de Monterrey (ITESM)'
 'Tel Aviv University' 'Texas A&M University'
 'The American University in Cairo' 'The Catholic University of Korea'
 'The Chinese University of Hong Kong (CUHK)'
 'The Hong Kong Polytechnic University'
 'The Hong Kong University of Science and Technology (HKUST)'
 'The University of Adelaide' 'The University of Auckland'
 'The University of Georgia' 'The University of Manchester'
 'The University of Melbourne' 'The University of New South Wales (UNSW)'
 'The University of Nottingham' 'The University of Queensland (UQ)'
 'The University of Sheffield' 'The University of Sydney'
 'The University of Tokyo' 'The University of Warwick'
 'The University of Western Australia (UWA)' 'Tianjin University'
 'Tilburg University' 'Tohoku University' 'Tokyo Institute of Technology'
 'Tokyo Medical and Dental University' 'Tomsk Polytechnic University'
 'Tomsk State University' 'Tongji University'
 'Trinity College Dublin (TCD)' 'Tsinghua University' 'Tufts University'
 'Tulane University' 'UCL (University College London)' 'UCSI University'
 'Umeå University' 'United Arab Emirates University' 'Universidad Austral'
 'Universidad Autónoma de Madrid' 'Universidad Carlos III de Madrid'
 'Universidad Complutense de Madrid (UCM)'
 'Universidad Externado de Colombia'
 'Universidad Nacional Autónoma de México (UNAM)'
 'Universidad Nacional de Colombia' 'Universidad Politecnica de Valencia'
 'Universidad Politécnica de Madrid' 'Universidad de Belgrano'
 'Universidad de Buenos Aires' 'Universidad de Chile'
 'Universidad de Los Andes Colombia' 'Universidad de Montevideo'
 'Universidad de Navarra' 'Universidad de Palermo'
 'Universidad de Santiago de Chile (USACH)' 'Universidad de Zaragoza'
 'Universidade Estadual Paulista "Júlio de Mesquita Filho"'
 'Universidade Estadual de Campinas (Unicamp)'
 'Universidade Federal de São Paulo (UNIFESP)'
 'Universidade Federal do Rio de Janeiro' 'Universidade Nova de Lisboa'
 'Universidade de São Paulo (USP)' 'Universitas Gadjah Mada'
 'Universitat Autónoma de Barcelona'
 'Universitat Politècnica de Catalunya' 'Universitat Pompeu Fabra'
 'Universitat de Barcelona (UB)' 'Universiti Brunei Darussalam (UBD)'
 'Universiti Kebangsaan Malaysia (UKM)' 'Universiti Malaya (UM)'
 'Universiti Putra Malaysia (UPM)' 'Universiti Sains Malaysia (USM)'
 'Universiti Teknologi Brunei' 'Universiti Teknologi Malaysia (UTM)'
 'Universiti Teknologi Petronas (Petronas)'
 'University College Cork (UCC)' 'University College Dublin (UCD)'
 'University at Buffalo SUNY' 'University of Aberdeen'
 'University of Alberta' 'University of Amsterdam' 'University of Antwerp'
 'University of Arizona' 'University of Basel' 'University of Bath'
 'University of Bergen' 'University of Bern' 'University of Birmingham'
 'University of Bristol' 'University of British Columbia'
 'University of Calgary' 'University of California, Berkeley (UCB)'
 'University of California, Davis (UCD)'
 'University of California, Irvine (UCI)'
 'University of California, Los Angeles (UCLA)'
 'University of California, Riverside (UCR)'
 'University of California, San Diego (UCSD)'
 'University of California, Santa Barbara (UCSB)'
 'University of California, Santa Cruz (UCSC)' 'University of Cambridge'
 'University of Canberra' 'University of Canterbury'
 'University of Cape Town' 'University of Chicago' 'University of Coimbra'
 'University of Colorado at Boulder' 'University of Colorado at Denver'
 'University of Connecticut' 'University of Copenhagen'
 'University of Delaware' 'University of Delhi' 'University of Dundee'
 'University of East Anglia (UEA)' 'University of Eastern Finland'
 'University of Edinburgh' 'University of Essex' 'University of Exeter'
 'University of Florida' 'University of Geneva' 'University of Ghent'
 'University of Glasgow' 'University of Gothenburg'
 'University of Groningen' 'University of Hawaii at M?\x81noa'
 'University of Helsinki' 'University of Hong Kong (HKU)'
 'University of Illinois at Urbana-Champaign'
 'University of Illinois, Chicago (UIC)' 'University of Indonesia'
 'University of Iowa' 'University of Jyväskylä' 'University of Kansas'
 'University of Kent' 'University of Lausanne' 'University of Leeds'
 'University of Leicester' 'University of Liege' 'University of Lisbon'
 'University of Liverpool' 'University of Macau'
 'University of Maryland, Baltimore County'
 'University of Maryland, College Park'
 'University of Massachusetts, Amherst' 'University of Miami'
 'University of Michigan' 'University of Minnesota'
 'University of Newcastle' 'University of North Carolina, Chapel Hill'
 'University of Notre Dame' 'University of Oslo' 'University of Otago'
 'University of Ottawa' 'University of Oulu' 'University of Oxford'
 'University of Pennsylvania' 'University of Pittsburgh'
 'University of Porto' 'University of Reading' 'University of Rochester'
 'University of Saskatchewan'
 'University of Science and Technology Beijing'
 'University of Science and Technology of China'
 'University of South Australia (UniSA)' 'University of Southampton'
 'University of Southern California' 'University of Southern Denmark'
 'University of St Andrews' 'University of St Gallen (HSG)'
 'University of Stirling' 'University of Strathclyde'
 'University of Surrey' 'University of Sussex' 'University of Tartu'
 'University of Tasmania' 'University of Technology Sydney (UTS)'
 'University of Tennessee' 'University of Texas at Austin'
 'University of The Witwatersrand' 'University of Toronto'
 'University of Tromso' 'University of Tsukuba' 'University of Turku'
 'University of Twente' 'University of Utah' 'University of Victoria'
 'University of Virginia' 'University of Waikato' 'University of Warsaw'
 'University of Washington' 'University of Waterloo'
 'University of Wisconsin-Madison' 'University of Wollongong'
 'University of York' 'University of Zurich'
 'University of the Philippines'
 'Università degli Studi di Firenze (UNIFI)'
 'Università degli Studi di Milano'
 'Università degli Studi di Napoli Federico II'
 'Università degli Studi di Padova (UNIPD)'
 'Università degli Studi di Trento' 'Università di Bologna (UNIBO)'
 'Università di Pisa' 'Universität Erlangen-Nürnberg'
 'Universität Frankfurt am Main' 'Universität Freiburg'
 'Universität Hamburg' 'Universität Innsbruck' 'Universität Konstanz'
 'Universität Köln' 'Universität Mannheim' 'Universität Stuttgart'
 'Universität Ulm' 'Universität Wien' 'Universität des Saarlandes'
 'Université Aix-Marseille' 'Université Catholique de Louvain (UCL)'
 'Université Grenoble-Alpes (UGA)' 'Université Libre de Bruxelles (ULB)'
 'Université Paris 1 Panthéon-Sorbonne' 'Université Paris-Sud 11'
 'Université de Bordeaux' 'Université de Montpellier'
 'Université de Montréal' 'Université de Strasbourg' 'Uppsala University'
 'Ural Federal University' 'Utrecht University'
 'V.N. Karazin Kharkiv National University' 'Vanderbilt University'
 'Victoria University of Wellington' 'Vilnius University'
 'Virginia Polytechnic Institute (Virginia Tech)'
 'Vrije Universiteit Amsterdam' 'Vrije Universiteit Brussel (VUB)'
 'Wageningen University' 'Wake Forest University' 'Waseda University'
 'Washington State University' 'Washington University in St. Louis'
 'Wayne State University' 'Western Sydney University' 'Western University'
 'Westfälische Wilhelms-Universität Münster' 'Wuhan University'
 "Xi'an Jiaotong University" 'Xiamen University' 'Yale University'
 'Yokohama City University' 'Yonsei University' 'Zhejiang University']
-------
uniqueCountry
['Argentina' 'Australia' 'Austria' 'Belarus' 'Belgium' 'Brazil' 'Brunei'
 'Canada' 'Chile' 'China' 'Colombia' 'Czech Republic' 'Denmark' 'Egypt'
 'Estonia' 'Finland' 'France' 'Germany' 'Greece' 'Hong Kong' 'India'
 'Indonesia' 'Iran' 'Ireland' 'Israel' 'Italy' 'Japan' 'Kazakhstan'
 'Lebanon' 'Lithuania' 'Macau' 'Malaysia' 'Mexico' 'Netherlands'

['10' '10.1' '10.4' '10.6' '10.7' '100' '11' '11.1' '11.2' '11.4' '11.6'
 '11.7' '11.8' '11.9' '12' '12.1' '12.2' '12.3' '12.4' '12.6' '13' '13.1'
 '13.2' '13.3' '13.4' '13.5' '14.1' '14.2' '14.7' '14.8' '14.9' '15'
 '15.1' '15.4' '15.5' '15.6' '15.7' '16.1' '16.2' '16.3' '16.6' '16.9'
 '17' '17.1' '17.3' '17.4' '18.1' '18.2' '18.5' '18.6' '19' '19.2' '19.3'
 '19.5' '19.6' '19.8' '2.5' '20.3' '20.6' '20.8' '21.1' '21.2' '21.3'
 '21.5' '21.6' '21.7' '22.6' '22.8' '23.3' '23.6' '23.7' '23.9' '24.1'
 '24.3' '24.6' '25' '25.2' '25.3' '25.4' '25.6' '26.2' '26.4' '26.5'
 '26.6' '26.8' '27.5' '27.6' '27.7' '28' '28.2' '28.3' '28.4' '28.5'
 '28.6' '28.7' '28.9' '29.3' '29.5' '29.6' '29.7' '29.9' '3.2' '3.4'
 '30.2' '30.3' '30.5' '30.6' '30.7' '30.9' '31' '31.2' '31.3' '31.6'
 '31.8' '31.9' '32.2' '32.5' '32.7' '32.8' '33.8' '33.9' '34.4' '34.7'
 '34.8' '35.1' '35.3' '35.5' '35.8' '35.9' '36.1' '36.5' '36.8' '36.9'
 '37.5' '37.6' '37.8' '38' '38.6' '38.7' '39.1' '39.4' '39.6' '39.8'
 '39.9' '4.5' '40.3' '40.6' '41' '41.2' '41.5' '41.9' '42.2' '42.5' '42.6'
 '43.2' '43.4' '43.5' '43.6' '43.7' '43.8' '44' '44.1' '44.5' '44.7'
 '44.8' '45' '45.5' '45.8' '46' '46.2' '46.4' '46.6' '47.3' '47.5' '47.6'
 '47.7' '49.1' '49.3' '49.7' '49.8' '5.2' '5.4' '5.5' '5.7' '5.9' '50.1'
 '50.5' '50.9' '51.3' '51.9' '52' '52.4' '52.5' '52.6' '53.1' '53.2'
 '53.7' '53.8' '54.7' '54.8' '54.9' '55.1' '55.3' '55.4' '55.6' '56.8'
 '57' '57.1' '57.6' '57.9' '58.1' '58.3' '59' '59.3' '59.5' '59.7' '6'
 '6.3' '6.4' '6.5' '6.7' '60' '60.3' '60.7' '61' '61.4' '61.9' '62' '62.2'
 '62.5' '62.7' '63' '63.1' '63.3' '63.7' '64.2' '64.3' '65.3' '65.7'
 '66.1' '66.3' '66.4' '66.7' '66.8' '67.2' '67.3' '67.6' '67.7' '67.9'
 '68.4' '69' '69.5' '7.4' '7.6' '7.8' '70.3' '70.7' '70.8' '71.3' '71.5'
 '72.2' '72.3' '72.6' '72.8' '73.2' '73.3' '73.7' '73.9' '74' '74.1'
 '74.5' '74.8' '74.9' '76.6' '76.8' '77.2' '77.3' '77.4' '77.7' '77.9'
 '78.6' '78.9' '79.1' '79.5' '79.8' '8.1' '8.2' '8.4' '8.6' '8.7' '80.3'
 '80.4' '80.8' '81.1' '81.4' '81.8' '82' '82.3' '82.5' '82.7' '82.9'
 '83.1' '83.3' '83.5' '84' '84.1' '84.2' '84.4' '84.6' '85' '85.2' '85.3'
 '85.5' '85.6' '85.7' '86.2' '86.5' '87' '87.2' '87.8' '87.9' '88' '88.3'
 '88.7' '89.1' '89.2' '89.4' '89.5' '89.7' '9' '9.1' '9.6' '90' '90.6'
 '90.7' '91' '91.4' '92' '92.1' '92.4' '93' '93.3' '93.8' '93.9' '94'
 '94.1' '94.2' '94.8' '94.9' '95.3' '95.6' '96.2' '96.3' '96.5' '96.6'
 '96.7' '97' '97.6' '97.9' '98.1' '98.2' '98.6' '98.7' '99.4' '99.6'
 '99.7' '99.8' '99.9']
-------
uniqueRANK
['1' '10' '100' '101' '102' '103' '104' '105' '106' '107' '108' '109' '11'
 '110' '111' '112' '113' '114' '115' '116' '117' '118' '119' '12' '120'
 '121' '122' '123' '124' '125' '126' '127' '128' '129' '13' '130' '131'
 '132' '133' '134' '135' '136' '137' '138' '139' '14' '140' '141' '142'
 '143' '144' '145' '146' '147' '148' '149' '15' '150' '151' '152' '153'
 '154' '155' '156' '157' '158' '159' '16' '160' '161' '162' '163' '164'
 '165' '166' '167' '168' '169' '17' '170' '171' '172' '173' '174' '175'
 '176' '177' '178' '179' '18' '180' '181' '182' '183' '184' '185' '186'
 '187' '188' '189' '19' '190' '191' '192' '193' '194' '195' '196' '197'
 '198' '199' '2' '20' '200' '201' '202' '203' '204' '205' '206' '207'
 '208' '209' '21' '210' '211' '212' '213' '214' '215' '216' '217' '218'
 '219' '22' '220' '221' '222' '223' '224' '225' '226' '227' '228' '229'
 '23' '230' '231' '232' '233' '234' '235' '236' '237' '238' '239' '24'
 '240' '241' '242' '243' '244' '245' '246' '247' '248' '249' '25' '250'
 '251' '252' '253' '254' '255' '256' '257' '258' '259' '26' '260' '261'
 '262' '263' '264' '265' '266' '267' '268' '269' '27' '270' '271' '272'
 '273' '274' '275' '276' '277' '278' '279' '28' '280' '281' '282' '283'
 '284' '285' '286' '287' '288' '289' '29' '290' '291' '292' '293' '294'
 '295' '296' '297' '298' '299' '3' '30' '300' '301' '302' '303' '304'
 '305' '306' '307' '308' '309' '31' '310' '311' '312' '313' '314' '315'
 '316' '317' '318' '319' '32' '320' '321' '322' '323' '324' '325' '326'
 '327' '328' '329' '33' '330' '331' '332' '333' '334' '335' '336' '337'
 '338' '339' '34' '340' '341' '342' '343' '344' '345' '346' '347' '348'
 '349' '35' '350' '351' '352' '353' '354' '355' '356' '357' '358' '36'
 '360' '361' '362' '363' '364' '365' '366' '367' '368' '369' '37' '370'
 '371' '372' '373' '374' '375' '376' '377' '378' '379' '38' '380' '381'
 '382' '383' '384' '385' '386' '387' '388' '389' '39' '390' '391' '392'
 '393' '394' '395' '396' '397' '398' '399' '4' '40' '400' '401' '402'
 '403' '404' '405' '406' '407' '408' '409' '41' '410' '411' '412' '413'
 '414' '415' '416' '417' '418' '419' '42' '420' '421' '422' '423' '424'
 '425' '426' '427' '428' '429' '43' '430' '431' '432' '433' '434' '435'
 '436' '437' '438' '439' '44' '440' '441' '442' '443' '444' '445' '446'
 '447' '448' '449' '45' '450' '451' '452' '453' '454' '455' '456' '457'
 '458' '459' '46' '460' '461' '462' '463' '464' '465' '466' '467' '468'
 '469' '47' '470' '471' '473' '474' '476' '477' '478' '479' '48' '480'
 '481' '482' '483' '484' '485' '486' '487' '488' '489' '49' '490' '491'
 '492' '493' '494' '495' '496' '497' '498' '499' '5' '50' '500' '501'
 '501+' '502' '503' '504' '505' '506' '507' '508' '509' '51' '510' '511'
 '512' '513' '514' '516' '517' '518' '519' '52' '521' '522' '523' '524'
 '525' '526' '527' '528' '529' '53' '530' '531' '532' '533' '534' '535'
 '536' '537' '538' '539' '54' '540' '541' '542' '543' '544' '545' '546'
 '547' '548' '549' '55' '550' '551' '552' '553' '554' '555' '556' '557'
 '558' '559' '56' '560' '561' '562' '563' '564' '565' '566' '567' '568'
 '569' '57' '570' '571' '572' '573' '574' '575' '576' '577' '578' '579'
 '58' '580' '581' '582' '583' '584' '585' '586' '587' '588' '589' '59'
 '590' '591' '592' '593' '594' '595' '597' '598' '6' '60' '600' '601+'
 '61' '62' '63' '64' '65' '66' '67' '68' '69' '7' '70' '71' '72' '73' '74'
 '75' '76' '77' '78' '79' '8' '80' '81' '82' '83' '84' '85' '86' '87' '88'
 '89' '9' '90' '91' '92' '93' '94' '95' '96' '97' '98' '99']
-------
uniqueCitations per Faculty_SCORE
['1' '1.1' '1.2' '1.3' '1.4' '1.5' '1.6' '1.7' '1.8' '1.9' '10' '10.6'
 '100' '11' '11.2' '11.4' '11.5' '11.7' '11.8' '12' '12.1' '12.7' '12.8'
 '13' '13.1' '13.3' '13.4' '13.6' '13.9' '14.3' '14.5' '14.7' '15.2'
 '15.4' '15.6' '15.9' '16' '16.1' '16.2' '16.4' '17.1' '17.2' '17.6'
 '17.7' '17.8' '17.9' '18.3' '18.4' '18.5' '19' '19.6' '2.1' '2.2' '2.4'
 '2.5' '20' '20.1' '20.2' '20.3' '20.4' '20.9' '21.3' '21.6' '21.8' '22.1'
 '22.3' '22.4' '22.7' '23.3' '23.4' '23.6' '24' '24.1' '24.2' '24.3' '25'
 '25.2' '25.4' '25.5' '25.8' '25.9' '26.5' '26.7' '26.9' '27.3' '27.5'
 '27.7' '28' '28.2' '28.3' '29.2' '29.6' '29.7' '29.8' '3.3' '3.5' '3.6'
 '3.7' '3.8' '30.2' '30.6' '30.8' '31.8' '31.9' '32' '32.2' '32.4' '32.6'
 '32.7' '32.9' '33.2' '33.5' '33.9' '34.2' '34.4' '34.8' '35.2' '35.4'
 '35.6' '35.7' '36' '36.2' '36.3' '36.4' '36.6' '36.7' '37.1' '37.2'
 '37.3' '37.4' '37.6' '37.9' '38' '38.2' '38.4' '38.6' '38.7' '39' '39.2'
 '39.3' '39.7' '4.3' '4.5' '4.6' '4.7' '4.8' '40.1' '40.4' '40.5' '40.7'
 '41.3' '41.5' '41.6' '41.9' '42.1' '42.2' '42.4' '42.8' '43' '43.1'
 '43.2' '43.4' '43.5' '43.6' '43.8' '43.9' '44.1' '44.3' '44.4' '44.5'
 '44.7' '44.8' '45' '45.3' '45.4' '45.5' '45.7' '45.9' '46' '46.1' '46.2'
 '46.3' '46.5' '46.8' '46.9' '47.4' '47.6' '47.7' '47.8' '47.9' '48.2'
 '48.5' '48.6' '48.8' '48.9' '49' '49.2' '49.3' '49.7' '49.8' '5.1' '5.2'
 '5.3' '5.5' '5.7' '50' '50.2' '50.3' '50.4' '50.6' '51.2' '51.3' '51.5'
 '51.7' '51.8' '51.9' '52' '52.7' '52.8' '53' '53.2' '53.3' '53.4' '53.5'
 '53.7' '54' '54.2' '54.4' '54.6' '54.7' '55' '55.5' '55.6' '55.7' '55.8'
 '56' '56.1' '56.2' '56.3' '56.4' '56.6' '56.8' '56.9' '57.3' '57.4'
 '57.7' '57.8' '58.2' '58.4' '58.6' '58.8' '59' '59.1' '59.2' '59.6'
 '59.7' '6' '6.2' '6.3' '6.5' '6.7' '6.8' '60' '60.7' '60.8' '61.3' '61.4'
 '61.6' '61.8' '62' '62.1' '62.5' '62.7' '62.8' '63.2' '63.6' '63.9'
 '64.1' '64.2' '64.4' '64.5' '64.9' '65.1' '65.5' '65.6' '65.8' '65.9'
 '66' '66.1' '66.3' '66.9' '67.1' '67.4' '67.6' '67.8' '67.9' '68.1'
 '68.2' '68.4' '68.5' '69.5' '69.8' '69.9' '7.2' '7.3' '7.9' '70' '70.4'
 '70.6' '70.9' '71.3' '71.5' '71.6' '72.1' '72.2' '72.6' '72.8' '72.9'
 '73' '73.1' '73.5' '73.6' '73.7' '74.2' '75' '75.3' '75.7' '75.9' '76.2'
 '76.7' '77.6' '77.9' '78.4' '78.5' '78.7' '79.2' '79.3' '8.1' '8.5'
 '80.3' '80.4' '80.6' '81.2' '81.8' '82.3' '83.7' '84.2' '84.5' '84.7'
 '85.3' '86.2' '86.3' '86.6' '87.4' '88.3' '88.8' '89.4' '89.5' '9.1'
 '9.2' '9.4' '9.7' '90' '90.6' '91.1' '91.3' '93.4' '93.6' '94.3' '94.9'
 '95.1' '95.3' '95.4' '97.1' '97.7' '98.1' '98.4' '98.5' '98.6' '98.9'
 '99.2' '99.3' '99.6' '99.8']
-------
uniqueRANK
['1' '10' '100' '101' '102' '103' '104' '105' '106' '107' '108' '109' '11'
 '110' '111' '112' '113' '114' '115' '116' '117' '118' '119' '12' '120'
 '121' '122' '123' '124' '125' '126' '127' '128' '129' '13' '130' '131'
 '132' '133' '134' '135' '136' '137' '138' '139' '14' '140' '141' '142'
 '143' '144' '145' '146' '147' '148' '149' '15' '150' '151' '152' '153'
 '154' '155' '156' '157' '158' '159' '16' '160' '161' '162' '163' '164'
 '165' '166' '167' '168' '169' '17' '170' '171' '172' '173' '174' '175'
 '176' '177' '178' '179' '18' '180' '181' '182' '183' '184' '185' '186'
 '187' '188' '189' '19' '190' '191' '192' '193' '194' '195' '196' '197'
 '198' '199' '2' '20' '200' '201' '202' '203' '204' '205' '206' '207'
 '208' '209' '21' '210' '211' '212' '213' '214' '215' '216' '217' '218'
 '219' '22' '220' '221' '222' '223' '224' '225' '226' '227' '228' '229'
 '23' '230' '231' '232' '233' '234' '235' '236' '237' '238' '239' '24'
 '240' '241' '242' '243' '244' '245' '246' '247' '248' '249' '25' '250'
 '251' '252' '253' '254' '255' '256' '257' '258' '259' '26' '260' '261'
 '262' '263' '264' '265' '266' '267' '268' '269' '27' '270' '271' '272'
 '273' '274' '275' '276' '277' '278' '279' '28' '280' '281' '282' '283'
 '284' '285' '286' '287' '288' '289' '29' '290' '291' '292' '293' '294'
 '295' '296' '297' '298' '299' '3' '30' '300' '301' '302' '303' '304'
 '305' '306' '307' '308' '309' '31' '310' '311' '312' '313' '314' '315'
 '316' '317' '318' '319' '32' '320' '321' '322' '323' '324' '325' '326'
 '327' '328' '329' '33' '330' '331' '332' '333' '334' '335' '336' '337'
 '338' '339' '34' '340' '341' '342' '343' '344' '345' '346' '347' '348'
 '349' '35' '350' '351' '352' '353' '354' '355' '356' '357' '358' '36'
 '360' '361' '362' '363' '364' '365' '366' '367' '368' '369' '37' '370'
 '371' '372' '373' '374' '375' '376' '377' '378' '379' '38' '380' '381'
 '382' '383' '384' '385' '386' '387' '388' '389' '39' '390' '391' '392'
 '393' '394' '395' '396' '397' '398' '399' '4' '40' '400' '401' '402'
 '403' '404' '405' '406' '407' '408' '409' '41' '410' '411' '412' '413'
 '414' '415' '416' '417' '418' '419' '42' '420' '421' '422' '423' '424'
 '425' '426' '427' '428' '429' '43' '430' '431' '432' '433' '434' '435'
 '436' '437' '438' '439' '44' '440' '441' '442' '443' '444' '445' '446'
 '447' '448' '449' '45' '450' '451' '452' '453' '454' '455' '456' '457'
 '458' '459' '46' '460' '461' '462' '463' '464' '465' '466' '467' '468'
 '469' '47' '470' '471' '473' '474' '476' '477' '478' '479' '48' '480'
 '481' '482' '483' '484' '485' '486' '487' '488' '489' '49' '490' '491'
 '492' '493' '494' '495' '496' '497' '498' '499' '5' '50' '500' '501'
 '501+' '502' '503' '504' '505' '506' '507' '508' '509' '51' '510' '511'
 '512' '513' '514' '516' '517' '518' '519' '52' '521' '522' '523' '524'
 '525' '526' '527' '528' '529' '53' '530' '531' '532' '533' '534' '535'
 '536' '537' '538' '539' '54' '540' '541' '542' '543' '544' '545' '546'
 '547' '548' '549' '55' '550' '551' '552' '553' '554' '555' '556' '557'
 '558' '559' '56' '560' '561' '562' '563' '564' '565' '566' '567' '568'
 '569' '57' '570' '571' '572' '573' '574' '575' '576' '577' '578' '579'
 '58' '580' '581' '582' '583' '584' '585' '586' '587' '588' '589' '59'
 '590' '591' '592' '593' '594' '595' '597' '598' '6' '60' '600' '601+'
 '61' '62' '63' '64' '65' '66' '67' '68' '69' '7' '70' '71' '72' '73' '74'
 '75' '76' '77' '78' '79' '8' '80' '81' '82' '83' '84' '85' '86' '87' '88'
 '89' '9' '90' '91' '92' '93' '94' '95' '96' '97' '98' '99']
-------
uniqueInternational Faculty_SCORE
['1.3' '1.5' '1.6' '1.7' '1.8' '1.9' '10.1' '10.2' '10.4' '10.5' '10.7'
 '10.8' '100' '11' '11.1' '11.4' '11.5' '11.6' '11.8' '12.4' '12.5' '12.7'
 '13.2' '13.4' '13.5' '13.8' '13.9' '14' '14.4' '14.6' '14.7' '14.9'
 '15.1' '15.2' '15.3' '15.4' '15.6' '15.7' '15.8' '16' '16.2' '16.5'
 '16.6' '16.8' '16.9' '17.1' '17.6' '17.7' '17.8' '18' '18.1' '18.2'
 '18.3' '18.5' '18.6' '18.7' '19.2' '19.3' '19.4' '2.9' '20' '20.1' '20.3'
 '20.7' '20.8' '20.9' '21' '21.3' '21.4' '21.6' '21.7' '22.1' '23.1'
 '23.4' '23.6' '23.7' '24' '24.3' '24.6' '25.1' '25.3' '25.4' '25.8'
 '26.4' '26.7' '27.1' '27.2' '27.3' '27.9' '29.1' '29.2' '29.4' '29.6'
 '3.1' '3.2' '3.3' '3.4' '3.6' '3.7' '3.9' '30.6' '30.7' '30.9' '31.6'
 '32.1' '32.3' '32.7' '33.5' '33.8' '34.2' '34.3' '34.5' '35.1' '35.2'
 '35.3' '35.6' '36.5' '37.2' '37.4' '37.5' '38.2' '38.5' '38.6' '39.3'
 '39.5' '39.9' '4.5' '4.6' '4.8' '40.1' '40.3' '40.8' '40.9' '41.7' '42'
 '42.4' '42.9' '43.1' '43.6' '43.7' '43.8' '44.6' '44.8' '45.1' '45.3'
 '45.9' '46.2' '46.3' '47.3' '47.8' '47.9' '48.8' '49.4' '5' '5.2' '5.3'
 '5.5' '5.7' '5.8' '5.9' '50.4' '50.7' '51.4' '51.9' '52.8' '52.9' '53.2'
 '53.7' '54.4' '55.8' '56' '56.3' '56.7' '57.2' '58.1' '58.8' '59.5'
 '59.7' '59.8' '6.1' '6.5' '6.8' '6.9' '60' '60.4' '60.6' '60.7' '60.8'
 '61.4' '61.5' '61.7' '62' '62.8' '63.8' '64' '64.1' '64.9' '65.2' '65.3'
 '65.4' '65.5' '65.9' '66.3' '67.3' '68' '68.6' '68.8' '69.1' '69.6'
 '69.8' '7' '7.4' '7.6' '70' '70.1' '70.2' '70.7' '71.1' '71.3' '72.1'
 '72.8' '73.5' '73.6' '73.9' '75' '75.3' '75.9' '76.1' '77.4' '77.6'
 '78.1' '78.9' '79.1' '79.5' '79.6' '79.7' '8' '8.2' '8.3' '8.5' '8.9'
 '81' '81.1' '81.2' '81.7' '82.2' '82.3' '82.8' '83.1' '83.5' '83.6' '84'
 '84.1' '84.2' '84.4' '84.5' '85.3' '85.9' '86' '86.2' '86.3' '86.5'
 '86.6' '87.2' '87.9' '88.6' '89' '89.1' '89.3' '89.4' '89.8' '89.9' '9'
 '9.2' '9.3' '9.6' '9.7' '9.9' '90' '90.1' '90.2' '90.8' '90.9' '91'
 '91.1' '91.3' '91.4' '91.5' '91.6' '91.7' '91.8' '92' '92.1' '92.4'
 '92.6' '92.7' '93' '93.4' '93.7' '93.8' '93.9' '94' '94.4' '94.5' '95.2'
 '95.4' '95.5' '95.7' '95.9' '96.1' '96.5' '96.6' '96.8' '96.9' '97.1'
 '97.2' '97.3' '97.4' '97.6' '97.7' '97.8' '97.9' '98' '98.2' '98.3'
 '98.4' '98.5' '98.6' '98.7' '98.9' '99' '99.1' '99.2' '99.3' '99.4'
 '99.5' '99.7' '99.8' '99.9']
-------
uniqueRANK
['1' '10' '100' '101' '102' '103' '104' '105' '106' '107' '108' '109' '11'
 '110' '111' '112' '113' '114' '115' '116' '117' '118' '119' '12' '120'
 '121' '122' '123' '124' '125' '126' '127' '128' '129' '13' '130' '131'
 '132' '133' '134' '135' '136' '137' '138' '139' '14' '140' '141' '142'
 '143' '144' '145' '146' '147' '148' '149' '15' '150' '151' '152' '153'
 '154' '155' '156' '157' '158' '159' '16' '160' '161' '162' '163' '164'
 '165' '166' '167' '168' '169' '17' '170' '171' '172' '173' '174' '175'
 '176' '177' '178' '179' '18' '180' '181' '182' '183' '184' '185' '186'
 '187' '188' '189' '19' '190' '191' '192' '193' '194' '195' '196' '197'
 '198' '199' '2' '20' '200' '201' '202' '203' '204' '205' '206' '207'
 '208' '209' '21' '210' '211' '212' '213' '214' '215' '216' '217' '218'
 '219' '22' '220' '221' '222' '223' '224' '225' '226' '227' '228' '229'
 '23' '230' '231' '232' '233' '234' '235' '236' '237' '238' '239' '24'
 '240' '241' '242' '243' '244' '245' '246' '247' '248' '249' '25' '250'
 '251' '252' '253' '254' '255' '256' '257' '258' '259' '26' '260' '261'
 '262' '263' '264' '265' '266' '267' '268' '269' '27' '270' '271' '272'
 '273' '274' '275' '276' '277' '278' '279' '28' '280' '281' '282' '283'
 '284' '285' '286' '287' '288' '289' '29' '290' '291' '292' '293' '294'
 '295' '296' '297' '298' '299' '3' '30' '300' '301' '302' '303' '304'
 '305' '306' '307' '308' '309' '31' '310' '311' '312' '313' '314' '315'
 '316' '317' '318' '319' '32' '320' '321' '322' '323' '324' '325' '326'
 '327' '328' '329' '33' '330' '331' '332' '333' '334' '335' '336' '337'
 '338' '339' '34' '340' '341' '342' '343' '344' '345' '346' '347' '348'
 '349' '35' '350' '351' '352' '353' '354' '355' '356' '357' '358' '36'
 '360' '361' '362' '363' '364' '365' '366' '367' '368' '369' '37' '370'
 '371' '372' '373' '374' '375' '376' '377' '378' '379' '38' '380' '381'
 '382' '383' '384' '385' '386' '387' '388' '389' '39' '390' '391' '392'
 '393' '394' '395' '396' '397' '398' '399' '4' '40' '400' '401' '402'
 '403' '404' '405' '406' '407' '408' '409' '41' '410' '411' '412' '413'
 '414' '415' '416' '417' '418' '419' '42' '420' '421' '422' '423' '424'
 '425' '426' '427' '428' '429' '43' '430' '431' '432' '433' '434' '435'
 '436' '437' '438' '439' '44' '440' '441' '442' '443' '444' '445' '446'
 '447' '448' '449' '45' '450' '451' '452' '453' '454' '455' '456' '457'
 '458' '459' '46' '460' '461' '462' '463' '464' '465' '466' '467' '468'
 '469' '47' '470' '471' '473' '474' '476' '477' '478' '479' '48' '480'
 '481' '482' '483' '484' '485' '486' '487' '488' '489' '49' '490' '491'
 '492' '493' '494' '495' '496' '497' '498' '499' '5' '50' '500' '501'
 '501+' '502' '503' '504' '505' '506' '507' '508' '509' '51' '510' '511'
 '512' '513' '514' '516' '517' '518' '519' '52' '521' '522' '523' '524'
 '525' '526' '527' '528' '529' '53' '530' '531' '532' '533' '534' '535'
 '536' '537' '538' '539' '54' '540' '541' '542' '543' '544' '545' '546'
 '547' '548' '549' '55' '550' '551' '552' '553' '554' '555' '556' '557'
 '558' '559' '56' '560' '561' '562' '563' '564' '565' '566' '567' '568'
 '569' '57' '570' '571' '572' '573' '574' '575' '576' '577' '578' '579'
 '58' '580' '581' '582' '583' '584' '585' '586' '587' '588' '589' '59'
 '590' '591' '592' '593' '594' '595' '597' '598' '6' '60' '600' '601+'
 '61' '62' '63' '64' '65' '66' '67' '68' '69' '7' '70' '71' '72' '73' '74'
 '75' '76' '77' '78' '79' '8' '80' '81' '82' '83' '84' '85' '86' '87' '88'
 '89' '9' '90' '91' '92' '93' '94' '95' '96' '97' '98' '99']
-------
uniqueInternational Students_SCORE
['1' '1.1' '1.3' '1.5' '1.6' '1.8' '10' '10.1' '10.3' '10.6' '10.7' '100'
 '11.1' '11.3' '11.6' '11.8' '11.9' '12' '12.1' '12.2' '12.3' '12.4'
 '12.7' '12.8' '13' '13.2' '13.3' '13.5' '14.1' '14.3' '15' '15.7' '15.8'
 '16.2' '16.7' '16.9' '17' '17.1' '17.5' '17.6' '17.7' '17.8' '18' '18.4'
 '18.6' '18.7' '18.8' '19.5' '2' '2.2' '2.3' '2.5' '2.6' '20' '20.1'
 '20.3' '20.6' '21' '21.3' '21.5' '21.7' '21.8' '22.1' '22.5' '22.6'
 '22.8' '23.3' '23.6' '24.1' '24.6' '25.2' '25.4' '25.8' '26.1' '26.2'
 '26.4' '26.5' '26.6' '27.5' '27.6' '27.8' '27.9' '28.1' '28.2' '28.7'
 '28.8' '29.1' '29.3' '29.4' '29.6' '3' '3.1' '3.6' '3.7' '3.8' '30.1'
 '30.4' '30.5' '30.8' '30.9' '31.3' '31.4' '31.5' '31.8' '32.1' '32.5'
 '32.8' '33' '33.1' '33.5' '33.8' '34.6' '34.7' '34.8' '35.1' '35.8'
 '36.2' '36.6' '36.7' '36.9' '37.1' '37.4' '37.5' '37.7' '38.1' '38.2'
 '38.5' '38.6' '38.7' '38.9' '39.3' '39.4' '39.7' '4.1' '4.2' '4.3' '4.5'
 '40.3' '40.5' '40.9' '41.1' '41.3' '41.6' '42.7' '42.9' '43.8' '44.1'
 '44.2' '44.7' '45.1' '45.2' '46' '46.6' '46.8' '47' '47.3' '48.3' '48.4'
 '48.7' '49' '49.1' '49.4' '5' '5.2' '5.4' '5.5' '5.7' '5.9' '50.1' '51'
 '51.1' '51.8' '51.9' '52.2' '52.5' '52.6' '53' '53.1' '53.6' '53.7'
 '54.4' '54.5' '54.7' '55.1' '55.6' '55.8' '56' '56.1' '56.5' '56.6'
 '56.7' '57.2' '57.3' '57.4' '57.5' '57.8' '58.2' '58.3' '59.2' '59.3'
 '59.4' '6.1' '6.2' '6.6' '6.7' '6.8' '60.6' '61' '61.1' '61.2' '61.8'
 '62.2' '62.9' '63.4' '63.6' '64.3' '64.4' '64.6' '64.7' '65' '65.3'
 '65.6' '65.8' '66' '66.2' '67.2' '67.6' '67.7' '67.8' '68.1' '68.2'
 '68.7' '68.9' '69' '69.3' '69.8' '7.2' '7.3' '7.6' '7.8' '70.1' '70.3'
 '71.1' '72.1' '72.3' '73.4' '73.9' '74.1' '74.2' '74.5' '74.8' '75'
 '75.4' '75.6' '76.4' '76.8' '77' '77.9' '78.1' '78.3' '78.4' '79.1'

In [73]:
cleaned_na[cleaned_na['Rank in 2019'] == '551-560']

,Rank in 2020,Rank in 2019,Institution Name,Country,Classification_SIZE,FOCUS,RESEARCH INTENSITY,AGE,STATUS,Academic Reputation_SCORE,...,RANK,Faculty Student_SCORE,RANK,Citations per Faculty_SCORE,RANK,International Faculty_SCORE,RANK,International Students_SCORE,RANK,Overall Score
473,474=,551-560,Pontificia Universidad Católica del Perú,Peru,L,FO,HI,5.0,B,36.5,...,142,19.2,601+,1.7,601+,7,601+,2.3,601+,25

In [85]:
cleaned_na['Rank in 2020'] = cleaned_na['Rank in 2020'].str.strip().str.replace('=','')
cleaned_na['Rank in 2019'] = cleaned_na['Rank in 2019'].str.strip().str.replace('=','') # remove = in columns with = alongside rank value

In [86]:
cleaned_na

,Rank in 2020,Rank in 2019,Institution Name,Country,Classification_SIZE,FOCUS,RESEARCH INTENSITY,AGE,STATUS,Academic Reputation_SCORE,...,RANK,Faculty Student_SCORE,RANK,Citations per Faculty_SCORE,RANK,International Faculty_SCORE,RANK,International Students_SCORE,RANK,Overall Score
0,1,1,Massachusetts Institute of Technology (MIT),United States,M,CO,VH,5.0,B,100,...,4,100,15,99.8,7,100,43,94.1,87,100
1,2,2,Stanford University,United States,L,FC,VH,5.0,B,100,...,5,100,12,98.6,13,99.8,62,67.7,196,98.4
2,3,3,Harvard University,United States,L,FC,VH,5.0,B,100,...,1,98.7,40,99.6,8,86.3,186,62.2,221,97.4
3,4,5,University of Oxford,United Kingdom,L,FC,VH,5.0,A,100,...,3,100,8,84.7,45,99.7,64,98.5,50,97.2
4,5,4,California Institute of Technology (Caltech),United States,S,CO,VH,5.0,B,97.8,...,74,100,4,100,4,99.4,72,87.3,121,96.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,491,439,University of Delaware,United States,L,CO,VH,5.0,A,11,...,501+,11.6,601+,67.1,107,39.3,401,22.5,501,24.3
496,491,481,V.N. Karazin Kharkiv National University,Ukraine,L,FC,MD,5.0,A,10.8,...,501+,72.2,183,1.8,601+,1.3,601+,78.4,150,24.3
497,498,531-540,Czech Technical University In Prague,Czech Republic,L,SP,VH,5.0,A,18.7,...,237,33.9,454,10.6,601+,18.2,569,57.5,248,24.2
498,498,422,Université de Montpellier,France,XL,CO,VH,1.0,A,20.3,...,488,13.1,601+,42.8,304,20.1,547,39.3,348,24.2
499,498,481,University of Eastern Finland,Finland,M,CO,VH,3.0,A,14.5,...,501+,43.8,346,33.5,399,27.9,476,9.1,601+,24.2